<div class="card">
    <div class="flex items-baseline-last justify-between">
        <h5>Invoice Disbursement</h5>
        <div class="flex justify-end gap-1">
            @if (currentUser !== USERGROUPS.READONLYADMIN) {
                <p-menu #menu [model]="menuItems" [popup]="true" />
                <p-button (onClick)="menu.toggle($event)" label="Actions" icon="pi pi-angle-down" iconPos="right"
                    [disabled]="!selectedInvoiceId" [pTooltip]="!selectedInvoiceId ? 'Select One Invoice' : ''"
                    tooltipPosition="top" />
            }
            <p-button label="Clear" icon="pi pi-filter-slash" (onClick)="dt.clear()" />
        </div>
    </div>
    <div #mydiv class="border border-[var(--p-content-border-color)] rounded-lg overflow-hidden">
        <p-table
            #dt
            [value]="invoiceDisbursementList"
            stripedRows
            [paginator]="true"
            [rowHover]="true"
            [rows]="pageSize"
            [first]="first"
            [rowsPerPageOptions]="[10, 20, 30]"
            [lazy]="true"
            [totalRecords]="totalRecords"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [showCurrentPageReport]="true"
            selectionMode="single"
            [(selection)]="selectedInvDisb"
            (onRowSelect)="selectedInvoice($event.data)"
            (onRowUnselect)="unSelectedInvoice()"
            dataKey="invoiceHeader.invoiceId"
            [paginatorDropdownAppendTo]="mydiv"
            [tableStyle]="{'min-width': '160rem'}"
            (onLazyLoad)="loadDisbursement($event)"
        >
            <ng-template #header>
                <tr>
                    <th>SL NO</th>
                    <th>Consultancy Code</th>
                    <th>Consultancy Name</th>
                    <th>
                        <div class="flex items-center justify-between">
                            <span>Invoice Number</span>
                            <p-columnFilter type="text" field="invoiceNumber" display="menu" [showAddButton]="false" />
                        </div>
                    </th>
                    <th>Invoice Date</th>
                    <th>
                        <div class="flex items-center justify-between">
                            <span>PO Number</span>
                            <p-columnFilter type="text" field="poNumber" display="menu" [showAddButton]="false" />
                        </div>
                    </th>
                    <th>
                        <div class="flex items-center justify-between">
                            <span>Invoice Status</span>
                            <p-columnFilter field="status" matchMode="equals" display="menu" [showAddButton]="false">
                                <ng-template #filter let-value let-filter="filterCallback">
                                    <p-multiselect [options]="statuses" (onChange)="filter($event.value)" placeholder="Select Statuses" class="w-full">
                                        <ng-template let-option #item>
                                            <p-tag [value]="option.value" [severity]="getSeverity(option.value)" />
                                        </ng-template>
                                    </p-multiselect>
                                </ng-template>
                            </p-columnFilter>
                        </div>
                    </th>
                    <th>POD</th>
                    <th>Seal and Sign Date by Consultancy</th>
                    <th>Submitted Date</th>
                    <th>Submitted To</th>
                    <th>Month</th>
                    <th>Year</th>
                    <th>
                        <div class="flex items-center justify-between">
                            <span>Grand Total</span>
                            <p-columnFilter type="numeric" field="total" display="menu" matchMode="between"
                                [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                                <ng-template #filter let-filter="filterCallback" let-value>
                                    <div class="flex flex-col gap-2">
                                        <p-inputNumber [ngModel]="value?.[0]" (ngModelChange)="filter([$event, value?.[1]])"
                                           mode="currency" currency="INR" placeholder="Min amount" />
                                        <p-inputNumber [ngModel]="value?.[1]" (ngModelChange)="filter([value?.[0], $event])"
                                            mode="currency" currency="INR" placeholder="Max amount" />
                                    </div>
                                </ng-template>
                            </p-columnFilter>
                        </div>
                    </th>
                    <th>GL Code</th>
                    <th>WBS</th>
                    <th>Cost/Profit Center</th>
                    <th>State Location</th>
                    <th>Bank Details</th>
                    <th>PAN</th>
                    <th>Due Date</th>
                    <th>RCM/GST</th>
                    <th>Booked On</th>
                    <th>Payment Status</th>
                    <th>Reason for Delay</th>
                </tr>
            </ng-template>
            <ng-template #body let-disbursement let-i="rowIndex">
                <tr [pSelectableRow]="disbursement">
                    <td>{{ i + 1 }}</td>
                    <td>{{ disbursement.consultancyCode || '-' }}</td>
                    <td>{{ disbursement.invoiceHeader.consultancy.consultancyName || '-' }}</td>
                    <td>{{ disbursement.invoiceHeader.invoiceNumber || '-' }}</td>
                    <td>{{ disbursement.invoiceHeader.invoiceDate || '-' }}</td>
                    <td>{{disbursement.invoiceHeader.poNumber}}</td>
                    <td>
                        <p-tag [value]="disbursement.invoiceHeader.invoiceStatus" 
                            [severity]="getSeverity(disbursement.invoiceHeader.invoiceStatus)" />
                    </td>
                    <td>{{ disbursement.invoiceHeader.pod }}</td>
                    <td>{{ disbursement.invoiceHeader.sealAndSignDate | date:'dd-MM-yyyy' }}</td>
                    <td>{{ disbursement.invoiceHeader.submittedOn }}</td>
                    <td>{{ disbursement.invoiceHeader.submittedTo }}</td>
                    <td>{{ disbursement.invoiceHeader.month }}</td>
                    <td>{{ disbursement.invoiceHeader.year }}</td>
                    <td>{{ disbursement.invoiceHeader.grandTotal || '-' }}</td>
                    <td>{{ disbursement.geoLocation || '-' }}</td>
                    <td>{{ disbursement.wbs || '-' }}</td>
                    <td>{{ disbursement.costProfitCenter || '-' }}</td>
                    <td>{{ disbursement.stateLocation || '-' }}</td>
                    <td>{{ disbursement.bankDetails || '-' }}</td>
                    <td>{{ disbursement.pan || '-' }}</td>
                    <td>{{ disbursement.dueDate ? (disbursement.dueDate | date:'dd-MM-yyyy') : '-' }}</td>
                    <td>{{ disbursement.gst || '-' }}</td>
                    <td>{{ disbursement.bookedOn || '-' }}</td>
                    <td>
                        @if (disbursement.paymentStatus?.trim()) {
                            <p-tag [value]="disbursement.paymentStatus" 
                                [severity]="getPaymentSeverity(disbursement.paymentStatus)" />
                        } @else {
                            -
                        }
                    </td>
                    <td>{{ disbursement.reasonForDelay || '-' }}</td>
                </tr>
            </ng-template>
            <ng-template #emptymessage>
                <tr>
                    <td colspan="100%" style="text-align: center; padding: 1rem 0; background-color: var(--surface-ground)">No Records Found</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<p-toast />

<p-dialog header="Book Disbursement" [modal]="true" [(visible)]="openDisbursementBooking" [style]="{ width: '50rem' }">
    <form [formGroup]="bookDisbursementForm" (ngSubmit)="submitBookDisbursement()">
        <div class="grid grid-cols-2 gap-1">
            <div class="grid col-span-1 gap-1">
                <label for="geo-location">Geo Location</label>
                <input type="text" formControlName="geoLocation" pInputText id="geo-location" />
            </div>
            <div class="grid col-span-1 gap-1">
                <label for="wbs">WBS</label>
                <input type="text" formControlName="wbs" pInputText id="wbs" />
            </div>
            <div class="grid col-span-1 gap-1">
                <label for="cost-profit-center">Cost Profit Center</label>
                <input type="text" formControlName="costProfitCenter" pInputText id="cost-profit-center" />
            </div>
            <div class="grid col-span-1 gap-1">
                <label for="due-date">Due Date</label>
                <p-datepicker formControlName="dueDate" [showIcon]="true" [iconDisplay]="'input'" inputId="due-date" appendTo="body"
                    placeholder="Select Date" />
            </div>
            <div class="grid col-span-1 gap-1">
                <label for="booked-on">Booked On</label>
                <p-datepicker formControlName="bookedOn" [showIcon]="true" [iconDisplay]="'input'" inputId="booked-on" appendTo="body" 
                    placeholder="Select Date" />
            </div>
        </div>
        <div class="flex justify-end mt-3">
            <button pButton pRipple type="submit">
                <span pButtonLabel>Submit</span>
            </button>
        </div>
    </form>
</p-dialog>

<p-dialog header="Approve Payment" [modal]="true" [(visible)]="openPaymentApproving" [style]="{ width: '50rem' }">
    <form [formGroup]="approvePaymentForm" (ngSubmit)="submitPaymentApprove()">
        <div class="grid grid-cols-2 gap-1">
            <div class="grid col-span-1 gap-1">
                <label for="payment-date">Payment Date</label>
                <p-datepicker formControlName="paymentDate" [showIcon]="true" [iconDisplay]="'input'" appendTo="body" 
                   placeholder="Select Date" inputId="payment-date" />
            </div>
            <div class="grid col-span-1 gap-1">
                <label for="payment-reference-number">Payment Reference Number</label>
                <input type="text" formControlName="paymentReferenceNo" pInputText id="payment-reference-number" />
            </div>
        </div>
        <div class="flex justify-end mt-3">
            <button pButton pRipple type="submit">
                <span pButtonLabel>Submit</span>
            </button>
        </div>
    </form>
</p-dialog>

<p-dialog header="Return to GRN" [modal]="true" [(visible)]="openGRNReturning" [style]="{ width: '30rem' }">
    <form [formGroup]="grnReturnForm" (ngSubmit)="submitReturnGRN()">
        <div class="grid grid-cols-1 gap-1">
            <div class="grid col-span-1 gap-1">
                <label for="reason">Reason For Return</label>
                <textarea rows="4" formControlName="reasonForReturn" pTextarea id="reason"></textarea>
            </div>
        </div>
        <div class="flex justify-end mt-3">
            <button pButton pRipple type="submit">
                <span pButtonLabel>Submit</span>
            </button>
        </div>
    </form>
</p-dialog>


<p-dialog header="Mark As Paid" [modal]="true" [(visible)]="openPaidMarking" [style]="{ width: '50rem' }">
    <form [formGroup]="paymentMarkedForm" (ngSubmit)="submitPaymentMarked()">
        <div class="grid grid-cols-2 gap-1">
            <div class="grid col-span-1 gap-1">
                <label for="payment-date">Payment Date</label>
                <p-datepicker formControlName="paymentDate" [showIcon]="true" [iconDisplay]="'input'" appendTo="body" 
                    placeholder="Select Date" inputId="payment-date" />
            </div>
            <div class="grid col-span-1 gap-1">
                <label for="payment-reference-number">Payment Reference Number</label>
                <input formControlName="paymentReferenceNo" type="text" pInputText id="payment-reference-number" />
            </div>
            <div class="grid col-span-1 gap-1">
                <label for="reason">Reason</label>
                <textarea rows="4" pTextarea id="reason"></textarea>
            </div>
        </div>
        <div class="flex justify-end mt-3">
            <button pButton pRipple type="submit">
                <span pButtonLabel>Submit</span>
            </button>
        </div>
    </form>
</p-dialog>
