<div class="card">
    <h5>PO Assign</h5>
    <h6>PO Details</h6>

    <form [formGroup]="mapPOForm" (ngSubmit)="onSubmit()">
        <div class="grid grid-cols-2 gap-2">
            <div class="grid col-span-1 gap-1" formGroupName="consultancy">
                <label for="consultancy-name">Consultancy Name</label>
                <p-select [options]="consultancyList" formControlName="userId" optionLabel="consultancyName" optionValue="userId" 
                    [filter]="true" filterBy="consultancyName" appendTo="body" placeholder="Select Consultancy" inputId="consultancy-name" />
            </div>
            <div class="grid col-span-1 gap-1">
                <label for="po-number">PO Number</label>
                <input type="text" formControlName="poNumber" pInputText id="po-number" />
            </div>     
            <div class="grid col-span-1 gap-1">
                <label for="po-date">PO Date</label>
                <p-datepicker formControlName="poDate" [showIcon]="true" [iconDisplay]="'input'" inputId="po-date" />
            </div>
            <div class="grid col-span-1 gap-1">
                <label for="po-startdate">PO Start Date</label>
                <p-datepicker formControlName="validFrom" [showIcon]="true" [iconDisplay]="'input'" inputId="po-startdate" />
            </div>
            <div class="grid col-span-1 gap-1">
                <label for="po-valid">PO Valid Till</label>
                <p-datepicker formControlName="validTo" [showIcon]="true" [iconDisplay]="'input'" inputId="po-valid" />
            </div>
            <div class="grid col-span-1 gap-1">
                <label for="duration">Duration (In Months)</label>
                <input type="text" pInputText id="duration" [value]="duration" [disabled]="true" />
            </div>
            <div class="grid col-span-1 gap-1">
                <label for="po-value">PO Total Value</label>
                <input type="text" formControlName="totalValue" pInputText id="po-value" />
            </div>
        </div>
    </form>
</div>

<div class="card">
    <h5>Demand details</h5>
    <form [formGroup]="mapPOForm" (ngSubmit)="onSubmit()">
        <div pRippleDisabled>
            <p-accordion value="0">
                <p-accordion-panel value="0">
                    <p-accordion-header>New Employee</p-accordion-header>
                    <p-accordion-content>
                        <div class="border border-[var(--p-content-border-color)] rounded-lg overflow-hidden">
                            <div class="flex justify-end p-3">
                                <p-button label="Add Line Item" icon="pi pi-plus" (onClick)="addNewEmployeeLineItems()" />
                            </div>

                            @for (item of newEmployeeLineItems; track $index; let i = $index) {
                                <p-accordion value="0">
                                    <p-accordion-panel value="0">
                                        <p-accordion-header>Line Item {{ i + 1 }}</p-accordion-header>
                                        <p-accordion-content>
                                            <div class="grid grid-cols-2 gap-2">
                                                <div class="grid col-span-1 gap-1">
                                                    <label for="spn-code">SPN Code</label>
                                                    <p-select [options]="spnInfoList" optionLabel="spnCode" optionValue="spnId"
                                                        [(ngModel)]="item.selectedSpnId" [filter]="true" filterBy="spnCode"
                                                        [ngModelOptions]="{ standalone: true }"
                                                        inputId="spn-code" placeholder="Select SPN Code" [showClear]="true" 
                                                        (onChange)="selectedSpnCode($event.value)" appendTo="body" />
                                                </div>
                                                <div class="grid col-span-1 gap-1">
                                                    <label for="spn-description">SPN Description</label>
                                                    <p-select [options]="spnInfoList" optionValue="spnId"
                                                        [(ngModel)]="item.selectedSpnId" [filter]="true" filterBy="spnDescription"
                                                        [ngModelOptions]="{ standalone: true }"
                                                        inputId="spn-description" appendTo="body" [showClear]="true" 
                                                        (onChange)="selectedSpnCode($event.value)" placeholder="Select SPN Description">
                                                        <ng-template #item let-item>
                                                            {{ item.spnDescription }} - ({{ item.experience }})
                                                        </ng-template>
                                                        <ng-template #selectedItem let-item>
                                                            {{ item.spnDescription }} - ({{ item.experience }})
                                                        </ng-template>
                                                    </p-select>
                                                </div>
                                                <div class="grid col-span-1 gap-1">
                                                    <label for="experience">Experience</label>
                                                    <input type="text" pInputText [value]="item.selectedSpn?.experience ?? 0" id="experience"
                                                        [disabled]="true" />
                                                </div>
                                                <div class="grid col-span-1 gap-1">
                                                    <label for="demand-code">Demand Code</label>
                                                    <p-select [options]="demandList" optionLabel="demandCode" optionValue="demandId"
                                                        inputId="demand-code" appendTo="body" placeholder="Select Demand Code"
                                                        [filter]="true" filterBy="demandCode" [showClear]="true"
                                                        (onChange)="selectedDemand($event.value,i)" />
                                                </div>
                                                <div class="grid col-span-1 gap-1">
                                                    <label for="quantity">Quantity</label>
                                                    <input type="text" pInputText [value]="item.newEmployeeList?.length" 
                                                        id="quantity" [disabled]="true" />
                                                </div>
                                            </div>
                                            
                                            
                                            <div class="border border-[var(--p-content-border-color)] rounded-lg overflow-hidden mt-4">
                                            <p-table [value]="item.newEmployeeList" [rowHover]="true" stripedRows dataKey="candidateId"
                                                [tableStyle]="{'min-width': '90rem'}">
                                            
                                                <ng-template #header>
                                                    <tr>
                                                        <th>SL NO</th>
                                                        <th>Employee Code</th>
                                                        <th>Employee Name</th>
                                                        <th>Duration Allowed</th>
                                                        <th>Unit Price</th>
                                                        <th>Tax %</th>
                                                        <th>Tax Amount</th>
                                                        <th>Item Total</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </ng-template>
                                            
                                                <ng-template #body let-row let-rowIndex="rowIndex">
                                                    @if (item.newEmployeeItems.controls[rowIndex]) {
                                            
                                                    <tr [formGroup]="item.newEmployeeItems.controls[rowIndex]">
                                                        <td>{{ rowIndex + 1 }}</td>
                                                        <td>{{ row.employeeCode }}</td>
                                                        <td>{{ row.candidateName }}</td>
                                            
                                                        <td>
                                                            <p-inputnumber formControlName="monthsAllowed"></p-inputnumber>
                                                        </td>
                                            
                                                        <td>
                                                            <p-inputnumber formControlName="unitRate"></p-inputnumber>
                                                        </td>
                                            
                                                        <td>
                                                            <p-inputgroup>
                                                                <p-inputnumber formControlName="taxRate"></p-inputnumber>
                                                                <p-inputgroup-addon>%</p-inputgroup-addon>
                                                            </p-inputgroup>
                                                        </td>
                                            
                                                        <td>{{ item.newEmployeeItems.controls[rowIndex].get('taxAmount')?.value }}</td>
                                                        <td>{{ item.newEmployeeItems.controls[rowIndex].get('itemTotal')?.value }}</td>
                                            
                                                        <td>
                                                            <p-button icon="pi pi-trash" severity="danger" rounded
                                                                (onClick)="removeNewEmployee(rowIndex, row.candidateId)">
                                                            </p-button>
                                                        </td>
                                                    </tr>
                                            
                                                    }
                                                </ng-template>
                                            
                                                <ng-template #emptymessage>
                                                    <tr>
                                                        <td colspan="100%" class="text-center p-2">No Records Found</td>
                                                    </tr>
                                                </ng-template>
                                            
                                            </p-table>
                                            </div>
                                        </p-accordion-content>
                                    </p-accordion-panel>
                                </p-accordion>
                            }
                        
                        </div>
                    </p-accordion-content>
                </p-accordion-panel>
                <p-accordion-panel value="1">
                    <p-accordion-header>Existing Employee</p-accordion-header>
                    <p-accordion-content>
                        <div class="border border-[var(--p-content-border-color)] rounded-lg overflow-hidden">
                            <div class="flex justify-end p-3">
                                <p-button label="Add Line Item" icon="pi pi-plus" (onClick)="addExistingEmployeeLineItems()" />
                            </div>

                            @for (item of existingEmployeeLineItems; track $index; let i = $index) {
                                <p-accordion value="0">
                                    <p-accordion-panel value="0">
                                        <p-accordion-header>Line Items {{ i + 1 }}</p-accordion-header>
                                        <p-accordion-content>
                                            <div class="grid grid-cols-2 gap-2">
                                                <div class="grid col-span-1 gap-1">
                                                    <label for="spn-code">SPN Code</label>
                                                    <p-select [options]="spnInfoList" optionLabel="spnCode" optionValue="spnId" 
                                                        [(ngModel)]="selectedExistingSpnId" [filter]="true" filterBy="spnCode" 
                                                        inputId="spn-code" [ngModelOptions]="{ standalone: true }"
                                                        placeholder="Select SPN Code" [showClear]="true"
                                                        (onChange)="selectedExistingSpnCode($event.value)" appendTo="body" />
                                                </div>
                                                <div class="grid col-span-1 gap-1">
                                                    <label for="spn-description">SPN Description</label>
                                                    <p-select [options]="spnInfoList" optionValue="spnId" [(ngModel)]="selectedExistingSpnId" 
                                                        [filter]="true" [ngModelOptions]="{ standalone: true }"
                                                        filterBy="spnDescription" inputId="spn-description" appendTo="body" [showClear]="true"
                                                        (onChange)="selectedExistingSpnCode($event.value)" placeholder="Select SPN Description">
                                                        <ng-template #item let-item>
                                                            {{ item.spnDescription }} - ({{ item.experience }})
                                                        </ng-template>
                                                        <ng-template #selectedItem let-item>
                                                            {{ item.spnDescription }} - ({{ item.experience }})
                                                        </ng-template>
                                                    </p-select>
                                                </div>
                                                <div class="grid col-span-1 gap-1">
                                                    <label for="experience">Experience</label>
                                                    <input type="text" pInputText [value]="selectedExistingSpn?.experience ?? 0" id="experience" 
                                                        [disabled]="true" />
                                                </div>
                                                <div class="grid col-span-1 gap-1">
                                                    <label for="quantity">Quantity</label>
                                                    <input type="text" pInputText id="quantity" [value]="existingEmployeeList?.length"
                                                        [disabled]="true" />
                                                </div>
                                            </div>
                                            <div class="border border-[var(--p-content-border-color)] rounded-lg overflow-hidden mt-4">
                                                <p-table [value]="existingEmployeeList" stripedRows [rowHover]="true" 
                                                    dataKey="candidateId" formArrayName="existingEmployeeItems" 
                                                    [tableStyle]="{'min-width': '90rem'}">
                                                    <ng-template #header>
                                                        <tr>
                                                            <th>SL NO</th>
                                                            <th>Employee Code</th>
                                                            <th>Employee Name</th>
                                                            <th>Duration (In Months)</th>
                                                            <th>Unit Price</th>
                                                            <th>Tax Rate %</th>
                                                            <th>Tax Amount</th>
                                                            <th>Item Total</th>
                                                            <th>Actions</th>
                                                        </tr>
                                                    </ng-template>
                                                    <ng-template #body let-existingEmployee let-i="rowIndex">
                                                        @if (existingEmployeeItems.controls[i]) {
                                                            <tr [formGroupName]="i">
                                                                <td>{{ i + 1 }}</td>
                                                                <td>{{ existingEmployee.employeeCode }}</td>
                                                                <td>{{ existingEmployee.candidateName }}</td>
                                                                <td>
                                                                    <p-inputnumber formControlName="monthsAllowed" [useGrouping]="false" />
                                                                </td>
                                                                <td>
                                                                    <p-inputnumber formControlName="unitRate" [useGrouping]="false"
                                                                        [minFractionDigits]="1" [maxFractionDigits]="2" />
                                                                </td>
                                                                <td>
                                                                    <p-inputgroup>
                                                                        <p-inputnumber formControlName="taxRate" [useGrouping]="false" />
                                                                        <p-inputgroup-addon>%</p-inputgroup-addon>
                                                                    </p-inputgroup>
                                                                </td>
                                                                <td>{{ (existingEmployeeItems.controls[i].get('taxAmount')?.value ?? 0) | number:'1.2-2' }}</td>
                                                                <td>{{ (existingEmployeeItems.controls[i].get('itemTotal')?.value ?? 0) | number:'1.2-2' }}</td>
                                                                <td>
                                                                    <p-button icon="pi pi-trash" severity="danger" rounded 
                                                                        (onClick)="removeExistingEmployee(i, existingEmployee.candidateId)" />
                                                                </td>
                                                            </tr>
                                                        }
                                                    </ng-template>
                                                    <ng-template #emptymessage>
                                                        <tr>
                                                            <td colspan="100%" style="text-align: center; padding: 1rem 0; background-color: var(--surface-ground);">
                                                                No Records Found
                                                            </td>
                                                        </tr>
                                                    </ng-template>
                                                </p-table>
                                            </div>
                                        </p-accordion-content>
                                    </p-accordion-panel>
                                </p-accordion>
                            }
                            
                        </div>
                    </p-accordion-content>
                </p-accordion-panel>
            </p-accordion>
        </div>
    
        <div class="flex justify-end mt-4">
            <button pButton pRipple type="submit">
                <span pButtonLabel>Submit</span>
            </button>
        </div>
    </form>
</div>

<p-toast />