tr th {
    background-color: var(--surface-ground);
    // color: var(--p-primary-600);
    font-weight: bold;
}

// .p-datatable-thead>tr>th {
//     background: var(--p-surface-300);
// }

// .dark tr th {
//     background-color: var(--p-surface-900);
// }