<div class="card">
    <h5>Manpower FulFillment</h5>
    <div #mydiv class="border border-[var(--p-content-border-color)] rounded-lg overflow-hidden">
        <p-table [value]="demandFullfillmentList" [rowHover]="true" [paginator]="true" [lazy]="true" [first]="first"
            [rows]="pageSize" [rowsPerPageOptions]="[10, 20, 30]" [showCurrentPageReport]="true" (onPage)="pageChange($event)"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" stripedRows 
            [paginatorDropdownAppendTo]="mydiv" [totalRecords]="totalRecords" [tableStyle]="{'min-width': '140rem'}">
            <ng-template #header>
                <tr>
                    <th>SI No</th>
                    <th>Steps</th>
                    <th>Demand Code</th>
                    <th>Status</th>
                    <th>SPN Code</th>
                    <th>SPN Description</th>
                    <th>Experience</th>
                    <th>Quantity</th>
                    <th>FulFilled Quantity</th>
                    <th>Planned Deployment Date</th>
                    <th>Planned Release Date</th>
                    <th>Role</th>
                    @if (currentUserRole !== UserGroups.CONSULTANCY) {
                        <th>Actions</th>
                    }
                </tr>
            </ng-template>
            <ng-template #body let-demand let-i="rowIndex">
                <tr>
                    <td>{{ i + 1 }}</td>
                    <td>
                        <p-button [label]="'Step ' + getStepLabel(demand.fullfillmentStatus)" variant="text" link 
                            (onClick)="goToStep(demand)" />
                    </td>
                    <td>
                        <p-menu #menu [model]="getMenuItems(demand)" [popup]="true" appendTo="body" />
                        <p-button (onClick)="menu.toggle($event)" [label]="demand.demandCode" variant="text" link />
                    </td>
                    <td>
                        <p-tag [value]="getStatusLabel(demand.demandStatus)" [severity]="getSeverity(demand.demandStatus)" />
                    </td>
                    <td>{{ demand.spn.spnCode }}</td>
                    <td>{{ demand.spn.spnDescription }}</td>
                    <td>{{ demand.spn.experience }}</td>
                    <td>{{ demand.quantity }}</td>
                    <td>{{ demand.fulfilledQuantity }}</td>
                    <td>{{ demand.plannedDeploymentDate }}</td>
                    <td>{{ demand.plannedReleaseDate }}</td>
                    <td>
                        {{ demand?.envisionRole?.roleName ?? '-' }}
                    </td>
                    @if (currentUserRole !== UserGroups.CONSULTANCY) {
                        <td>
                            <p-menu #menu [model]="getMenuItems(demand)" [popup]="true" appendTo="body" />
                            <p-button (onClick)="menu.toggle($event)" icon="pi pi-ellipsis-v" [rounded]="true" variant="text"  />
                        </td>
                    }
                </tr>
            </ng-template>
            <ng-template #emptymessage>
                <tr>
                    <td colspan="100%" style="text-align: center; padding: 1rem 0; background-color: var(--surface-ground);">
                        No Records Found
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<p-dialog header="View Requisition" [modal]="true" [(visible)]="openViewRequisition" [style]="{width: '50rem'}">
    <div class="grid grid-cols-2 gap-2">
        <div class="grid col-span-1 gap-1">
            <label for="requisition-code">Requisition Code</label>
            <input type="text" pInputText [value]="requisitionDetails?.requesitionCode" id="requisition-code" [disabled]="true" />
        </div>
        <div class="grid col-span-1 gap-1">
            <label for="requested-by">Requested By</label>
            <input type="text" pInputText [value]="requisitionDetails?.requestedBy?.userName" id="requested-by" [disabled]="true" />
        </div>
        <div class="grid col-span-1 gap-1">
            <label for="project-code">Project Code</label>
            <input type="text" pInputText [value]="requisitionDetails?.project?.projectCode" id="project-code" [disabled]="true" />
        </div>
        <div class="grid col-span-1 gap-1">
            <label for="cluster-name">Cluster Name</label>
            <input type="text" pInputText [value]="requisitionDetails?.cluster?.clusterName" id="cluster-name" [disabled]="true" />
        </div>
        <div class="grid col-span-1 gap-1">
            <label for="cluster-code">Cluster Code</label>
            <input type="text" pInputText [value]="requisitionDetails?.cluster?.clusterCode" id="cluster-name"
                [disabled]="true" />
        </div>
        <div class="grid col-span-1 gap-1">
            <label for="cluster-head">Cluster Head</label>
            <input type="text" pInputText [value]="requisitionDetails?.clusterHead?.userName" id="cluster-head"
                [disabled]="true" />
        </div>
        <div class="grid col-span-1 gap-1">
            <label for="site-incharge">Site Incharge</label>
            <input type="text" pInputText [value]="requisitionDetails?.siteIncharge?.userName" id="site-incharge"
                [disabled]="true" />
        </div>
        <div class="grid col-span-1 gap-1">
            <label for="department">Department</label>
            <input type="text" pInputText [value]="requisitionDetails?.department?.departmentName" id="department"
                [disabled]="true" />
        </div>
        <div class="grid col-span-1 gap-1">
            <label for="department-head">Department Head</label>
            <input type="text" pInputText [value]="requisitionDetails?.departmentHead?.userName" id="department-head"
                [disabled]="true" />
        </div>
        <div class="grid col-span-1 gap-1">
            <label for="category">Category</label>
            <input type="text" pInputText [value]="requisitionDetails?.category?.categoryName" id="category"
                [disabled]="true" />
        </div>
    </div>
</p-dialog>

<p-toast />