<p-fluid>
        <div class="card">
            <p-table [value]="demandFullfillList"  #dt
                [tableStyle]="{ 'min-width': '120rem' }" [paginator]="true" [rowsPerPageOptions]="[5, 10, 20]" stripedRows
                [rows]="10" [rowHover]="true" [showGridlines]="true" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [paginator]="true"
                responsiveLayout="scroll" [globalFilterFields]="['reqId','reqBy','pcode','state','spn','spnDesc','exp','qty','planDate','planrelease',]">
                
                <ng-template #header>
                    <tr>
                        <th>S.No</th>
                        <th>Steps</th>
                        <th>Requistion Code</th>
                        <th>Requested By</th>
                        <th>Demand Code</th>
                        <th>Project Code</th>
                        <th>Cluster Code</th>
                        <th>SPN Code</th>
                        <th>SPN Description</th>
                        <th>Quantity</th>
                        <th>Planned deployment date</th>
                        <th>Planned release date</th> 
                        <th>Role</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td style="visibility: hidden;">
                        <input #spn type="text"(input)="dt.filter(spn.value, 'spn', 'contains')" placeholder="search..." style="width: 3rem;margin:5px" pInputText />
                        </td>
                        <td>
                        <input #spn type="text"(input)="dt.filter(spn.value, 'spn', 'contains')" placeholder="search..." style="width: 9rem;margin:5px" pInputText />
                        </td>
                        <td>
                        <input #spnDesc type="text"(input)="dt.filter(spnDesc.value, 'spnDesc', 'contains')" placeholder="search..." style="width: 9rem;margin:5px" pInputText />
                        </td>
                        
                        <td>
                        <input #qty type="text"(input)="dt.filter(qty.value, 'qty', 'contains')" placeholder="search..." style="width: 9rem;margin:5px" pInputText />
                        </td>
                        <td></td>
                        <td colspan="100%"></td>
                    </tr>
                </ng-template>
                <ng-template #body let-demand let-rowIndex="rowIndex">
                    <tr>
                        <td>{{ rowIndex + 1 }}</td>
                        <td class="underline cursor-pointer" routerLink="/home/fullfillprocess/steps">{{'Step ' + demand.stepId}}</td>
                        <td>{{ demand.requesitionCode }}</td>
                        <td>{{ demand.requestedBy }}</td>
                        <td>{{ demand.demandCode }}</td>
                        <td>{{ demand.pCode }}</td>
                        <td>{{ demand.clusterCode }}</td>
                        <td>{{ demand.spn.spnCode }}</td>
                        <td>{{ demand.spn.spnDescription }}</td>
                        <td>{{ demand.quantity }}</td>
                        <td>{{ demand.plannedDeploymentDate }}</td>
                        <td>{{ demand.plannedReleaseDate }}</td>
                        <td>
                            <p-select [options]="envisionRoleList" optionLabel="roleName" optionValue="id" 
                                [filter]="true" filterBy="roleName" placeholder="Select Role" appendTo="body" 
                                class="w-full md:w-56" />
                        </td>
                    </tr>
                </ng-template>
                <ng-template #emptymessage>
                    <tr>
                        <td colspan="100%" style="text-align:center">No Record Found!!</td>
                    </tr>
                </ng-template>
            </p-table>         
        </div>
       
</p-fluid>

<p-toast />

<p-dialog header="STEP {{stepHeader}}" [(visible)]="stepPopup" [modal]="true" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
    
     <form [formGroup]="step4Form" *ngIf="stepHeader == 4">
        <div class="grid grid-cols-2 gap-2">
             <div class="grid col-span-1 gap-1">
                <label for="experience">Accept/Reject</label>
                <p-select [options]="acceptRejectList" formControlName="statusId" optionLabel="statusName" optionValue="statusId"
                      placeholder="Select Status" appendTo="body" />
            </div>
            <div class="grid col-span-1 gap-1">
                <label for="experience">Feedback</label>
                <textarea rows="2" cols="10" pTextarea formControlName="feedback1"></textarea>
            </div>
        </div>
        <div class="flex justify-end mt-4">
            <button pButton pRipple type="submit" class="w-full">
                <span pButtonLabel>Submit</span>
            </button>
        </div>
    </form>
    <form [formGroup]="step7Form" *ngIf="stepHeader == 7">
        <div class="grid grid-cols-2 gap-2">
             <div class="grid col-span-1 gap-1">
                <label for="experience">Accept/Reject</label>
                <p-select [options]="acceptRejectList" formControlName="statusId" optionLabel="statusName" optionValue="statusId"
                      placeholder="Select Status" appendTo="body" />
            </div>
            <div class="grid col-span-1 gap-1">
                <label for="experience">Feedback</label>
                <textarea rows="2" cols="10" pTextarea formControlName="feedback2"></textarea>
            </div>

        </div>
        <div class="flex justify-end mt-4">
            <button pButton pRipple type="submit" class="w-full">
                <span pButtonLabel>Submit</span>
            </button>
        </div>
    </form>
</p-dialog>