<div class="card">
    <div class="flex items-baseline-last justify-between">
        <h5>Transfer</h5>
        <div class="flex justify-end gap-2">
            <p-menu #menu [model]="getMenuItems()" [popup]="true" />
            <p-button (onClick)="menu.toggle($event)" label="Actions" icon="pi pi-angle-down" 
                iconPos="right" [disabled]="!selectedTransferId" />
            <p-button label="Clear" icon="pi pi-filter-slash" (onClick)="dt.clear()" />
        </div>
    </div>
    <div class="border border-[var(--p-content-border-color)] rounded-lg overflow-hidden">
        <p-table #dt [value]="transferredEmployeeList" showGridlines stripedRows [rowHover]="true" 
            [paginator]="true" [rows]="pageSize" [lazy]="true" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 20, 30]" 
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [first]="first" 
            selectionMode="single" dataKey="transferId" (onRowSelect)="selectedEmployee($event.data)" 
            (onRowUnselect)="unSelectedEmployee()" [(selection)]="selectedTransfer"
            [totalRecords]="transferredListLength" [tableStyle]="{'min-width': '170rem'}" (onLazyLoad)="loadTransfer($event)">
            <ng-template #header>
                <tr>
                    <th rowspan="2">SL No</th>
                    <th rowspan="2">
                        <div class="flex items-center justify-between">
                            <span>Employee Code</span>
                            <p-columnFilter type="text" field="employeeCode" display="menu" />
                        </div>
                    </th>
                    <th rowspan="2">
                        <div class="flex items-center justify-between">
                            <span>Employee Name</span>
                            <p-columnFilter type="text" field="candidateName" display="menu" />
                        </div>
                    </th>              
                    <th colspan="6" style="text-align: center;">Transfer From</th>
                    <th colspan="6" style="text-align: center;">Transfer To</th>
                    <th rowspan="2">
                        <div class="flex items-center justify-between">
                            <span>Is Replacement Required</span>
                            <p-columnFilter field="replace" matchMode="equals" display="menu">
                                <ng-template #filter let-value let-filter="filterCallback">
                                    <p-select [options]="isReplacement" optionValue="value" (onChange)="filter($event.value)" 
                                        placeholder="Select Yes/No" class="w-full">
                                        <ng-template let-option #item>
                                            {{ option.label }}
                                        </ng-template>
                                    </p-select>
                                </ng-template>
                            </p-columnFilter>
                        </div>
                    </th>
                    <th rowspan="2">
                        <div class="flex items-center justify-between">
                            <span>Status</span>
                            <p-columnFilter field="status" matchMode="equals" display="menu">
                                <ng-template #filter let-value let-filter="filterCallback">
                                    <p-multiselect [options]="statuses" (onChange)="filter($event.value)"
                                        placeholder="Select Statuses" class="w-full">
                                        <ng-template let-option #item>
                                            <p-tag [value]="option.label" [severity]="getSeverity(option.value)" />
                                        </ng-template>
                                    </p-multiselect>
                                </ng-template>
                            </p-columnFilter>
                        </div>
                    </th>
                    <th rowspan="2">Cluster Head Approval</th>
                    <th rowspan="2">Department Head Approval</th>
                </tr>
                <tr>
                    <th>Demand Code</th>
                    <th>
                        <div class="flex items-center justify-between">
                            <span>Project Code</span>
                            <p-columnFilter type="text" field="projectCode" display="menu" />
                        </div>
                    </th>
                    <th>Site Name</th>
                    <th>
                        <div class="flex items-center justify-between">
                            <span>Cluster Name</span>
                            <p-columnFilter type="text" field="clusterName" display="menu" />
                        </div>     
                    </th>
                    <th>Role</th>
                    <th>Last Working Date</th>
                    <th>Demand Code</th>
                    <th>
                        <div class="flex items-center justify-between">
                            <span>Project Code</span>
                            <p-columnFilter type="text" field="projectCode" display="menu" />
                        </div>
                    </th>
                    <th>Site Name</th>
                    <th>
                        <div class="flex items-center justify-between">
                            <span>Cluster Name</span>
                            <p-columnFilter type="text" field="clusterName" display="menu" />
                        </div>
                    </th>
                    <th>Role</th>
                    <th>
                        <div class="flex items-center justify-between">
                            <span>Joining Date</span>
                            <p-columnFilter type="date" field="date" display="menu" matchMode="between"
                                [showOperator]="false">
                                <ng-template #filter let-filter="filterCallback" let-value>
                                    <div class="flex flex-col gap-2">
                                        <p-datepicker [ngModel]="value?.[0] || null" 
                                            (ngModelChange)="updateRange($event, value, 0, filter)"
                                            placeholder="From Date" />
                                        <p-datepicker [ngModel]="value?.[1] || null" 
                                            (ngModelChange)="updateRange($event, value, 1, filter)"
                                            placeholder="To Date" />
                                    </div>
                                </ng-template>
                            </p-columnFilter>
                        </div>
                    </th>
                </tr>
            </ng-template>
            <ng-template #body let-transfer let-i="rowIndex">
                <tr [pSelectableRow]="transfer">
                    <td>{{ i + 1 }}</td>
                    <td>{{ transfer.candidate.employeeCode }}</td>
                    <td>{{ transfer.candidate.candidateName }}</td>
                    <td>{{ transfer.transferFrom?.demand?.demandCode || '-' }}</td>
                    <td>{{ transfer.transferFrom.project.projectCode }}</td>
                    <td>{{ transfer.transferFrom.project.siteName }}</td>
                    <td>{{ transfer.transferFrom.cluster.clusterName }}</td>
                    <td>{{ transfer.transferFrom.envisionRole.roleName }}</td>
                    <td>{{ transfer.transferFrom.lastWorkingDate || '-' }}</td>
                    <td>{{ transfer.transferTo?.demandCode || '-' }}</td>
                    <td>{{ transfer.project.projectCode }}</td>
                    <td>{{ transfer.project.siteName }}</td>
                    <td>{{ transfer.cluster.clusterName }}</td>
                    <td>{{ transfer.envisionRole.roleName }}</td>
                    <td>{{ transfer.joiningDate }}</td>
                    <td>{{ transfer.isReplacementRequired ? 'Yes' : 'No' }}</td>
                    <td>
                        <p-tag [value]="getStatusLabel(transfer.transferStatus)" 
                            [severity]="getSeverity(transfer.transferStatus)" />
                    </td>
                    <td class="flex items-center justify-center gap-2">
                        @if (transfer.stateHeadApproval.approvalStatus === APPROVALSTATUS.ACCEPTED) {
                            <p-button icon="pi pi-check" severity="primary" rounded [disabled]="true" />
                        } @else if (transfer.stateHeadApproval.approvalStatus === APPROVALSTATUS.REJECTED) {
                            <p-button icon="pi pi-times" severity="danger" rounded [disabled]="true" />
                        }
                        @if (transfer.stateHeadApproval.approvalStatus === APPROVALSTATUS.PENDING) {
                            <p-button icon="pi pi-check" severity="primary" rounded 
                               [disabled]="currentUserRole === USERGROUPS.DEPARTMENTHEAD" 
                               (onClick)="clusterHeadApproval(transfer.transferId, 'Accepted')" />
                            <p-button icon="pi pi-times" severity="danger" rounded 
                                [disabled]="currentUserRole === USERGROUPS.DEPARTMENTHEAD" 
                                (onClick)="clusterHeadApproval(transfer.transferId, 'Rejected')" />
                        }
                    </td>
                    <td>
                        <div class="flex items-center justify-center gap-2">
                            @if (transfer.departmentHeadApproval.approvalStatus === APPROVALSTATUS.ACCEPTED) {
                                <p-button icon="pi pi-check" severity="primary" rounded [disabled]="true" />
                            } @else if (transfer.departmentHeadApproval.approvalStatus === APPROVALSTATUS.REJECTED) {
                                <p-button icon="pi pi-times" severity="danger" rounded [disabled]="true" />
                            }
                            @if (transfer.departmentHeadApproval.approvalStatus === APPROVALSTATUS.PENDING) {
                                <p-button icon="pi pi-check" severity="primary" rounded 
                                    [disabled]="currentUserRole === USERGROUPS.CLUSTERHEAD" 
                                    (onClick)="departmentHeadApproval(transfer.transferId, 'Accepted')" />
                                <p-button icon="pi pi-times" severity="danger" rounded 
                                    [disabled]="currentUserRole === USERGROUPS.CLUSTERHEAD" 
                                    (onClick)="departmentHeadApproval(transfer.transferId, 'Rejected')" />
                            }
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template #emptymessage>
                <tr>
                    <td colspan="100%" style="text-align: center; padding: 1rem 0; background-color: var(--surface-ground);">
                        No Records Found
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<p-toast />
<p-confirmdialog>
    <ng-template #headless let-message let-onAccept="onAccept" let-onReject="onReject">
        <div class="grid place-items-center p-8 bg-surface-0 dark:bg-surface-900 rounded">
            <div class="rounded-full bg-primary text-primary-contrast inline-flex justify-center items-center h-24 w-24 -mt-20">
                <i class="pi pi-question !text-5xl"></i>
            </div>
            <span class="font-bold text-2xl block mb-2 mt-4">{{ message.header }}</span>
            <p class="mb-0">Please Type <span class="font-bold">Confirm</span> to Proceed</p>
            <input type="text" pInputText class="w-full -mt-3" (input)="typedValue($event)" />
            <div class="flex items-center gap-2 mt-3">
                <p-button label="OK" (onClick)="onAccept()" styleClass="w-32" [disabled]="!isEnableBtn" />
                <p-button label="Cancel" [outlined]="true" (onClick)="onReject()" styleClass="w-32" />
            </div>
        </div>
    </ng-template>
</p-confirmdialog>