<p-fluid>
        <div class="card">
            <p-table [value]="demandFullfillList"  #dt
                [tableStyle]="{ 'min-width': '120rem' }" [paginator]="true" [rowsPerPageOptions]="[5, 10, 20]" stripedRows
                [rows]="10" [rowHover]="true" [showGridlines]="true" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [paginator]="true"
                responsiveLayout="scroll" [globalFilterFields]="['reqId','reqBy','pcode','state','spn','spnDesc','exp','qty','planDate','planrelease',]">
                
                <ng-template #header>
                    <tr>
                        <th>S.No</th>
                        <th>Steps</th>
                        <th>Requistion Code</th>
                        <th>Requested By</th>
                        <th>Demand Code</th>
                        <th>Project Code</th>
                        <th>Cluster Code</th>
                        <th>SPN Code</th>
                        <th>SPN Description</th>
                        <th>Quantity</th>
                        <th>Planned deployment date</th>
                        <th>Planned release date</th>
                        <th>Role</th> 
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                        <td style="visibility: hidden;">
                        <input #spn type="text"(input)="dt.filter(spn.value, 'spn', 'contains')" placeholder="search..." style="width: 3rem;margin:5px" pInputText />
                        </td>
                        <td>
                        <input #spn type="text"(input)="dt.filter(spn.value, 'spn', 'contains')" placeholder="search..." style="width: 9rem;margin:5px" pInputText />
                        </td>
                        <td>
                        <input #spnDesc type="text"(input)="dt.filter(spnDesc.value, 'spnDesc', 'contains')" placeholder="search..." style="width: 9rem;margin:5px" pInputText />
                        </td>
                        
                        <td>
                        <input #qty type="text"(input)="dt.filter(qty.value, 'qty', 'contains')" placeholder="search..." style="width: 9rem;margin:5px" pInputText />
                        </td>
                        <td></td>
                        <td colspan="100%"></td>
                    </tr>
                </ng-template>
                <ng-template #body let-demand let-rowIndex="rowIndex">
                    <tr>
                        <td>{{ rowIndex + 1 }}</td>
                        <td class="underline cursor-pointer" routerLink="/home/fullfillprocess/steps">
                            <p-button icon="pi pi-eye" [rounded]="true" />
                        </td>
                        <td>{{ demand.requesitionCode }}</td>
                        <td>{{ demand.requestedBy }}</td>
                        <td>{{ demand.demandCode }}</td>
                        <td>{{ demand.pCode }}</td>
                        <td>{{ demand.clusterCode }}</td>
                        <td>{{ demand.spn.spnCode }}</td>
                        <td>{{ demand.spn.spnDescription }}</td>
                        <td>{{ demand.quantity }}</td>
                        <td>{{ demand.plannedDeploymentDate }}</td>
                        <td>{{ demand.plannedReleaseDate }}</td>
                        <td>
                            <p-select [options]="envisionRoleList" optionLabel="roleName" 
                                optionValue="id" placeholder="Select Role" [filter]="true" filterBy="roleName"
                                appendTo="body" class="w-full md:w-56" />
                        </td>   
                    </tr>
                </ng-template>
                <ng-template #emptymessage>
                    <tr>
                        <td colspan="100%" style="text-align:center">No Record Found!!</td>
                    </tr>
                </ng-template>
            </p-table>         
        </div>
        <form [formGroup]="demandForm" *ngIf="false">
            <div class="card grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
                <div class="flex flex-wrap gap-2 w-full">
                    <label for="firstname2">Requision ID</label>
                    <input pInputText id="firstname2" formControlName="requisitionId" type="text" />
                </div>
                <div class="flex flex-wrap gap-2 w-full">
                    <label for="lastname2">P-code</label>
                    <p-select appendTo="body" [options]="PCode" formControlName="pCode" optionLabel="name" optionValue="name" placeholder="Select PCode"
                        [filter]="true" filterBy="name" class="w-full md:w-56" />
                </div>
                <div class="flex flex-wrap gap-2 w-full">
                    <label for="lastname2">State</label>
                    <p-select appendTo="body" [options]="states" formControlName="state" optionLabel="label" optionValue="label" placeholder="Select State"
                        [filter]="true" filterBy="label" class="w-full md:w-56" />
                </div>
                <div class="flex flex-wrap gap-2 w-full">
                    <label for="lastname2">Planed deployment date</label>
                    <input pInputText id="firstname2" formControlName="plannedDate" type="text" />

                    <!-- <p-datepicker appendTo="body" formControlName="plannedDate" placeholder="Select Date" class="w-full" /> -->
                </div>
                <div class="flex flex-wrap gap-2 w-full">
                    <label for="lastname2">Actual deployment date</label>
                    <input pInputText id="firstname2" formControlName="actualDate" type="text" />

                    <!-- <p-datepicker appendTo="body" formControlName="actualDate" placeholder="Select Date" class="w-full" /> -->
                </div>
                <div class="flex flex-wrap gap-4 w-full">
                    <label for="lastname2">Duration date</label>
                    <input pInputText id="firstname2" formControlName="durationDate" type="text" />

                    <!-- <p-datepicker appendTo="body" formControlName="durationDate" placeholder="Select Date" class="w-full" /> -->
                </div>
                <div class="flex flex-wrap gap-2 w-full">
                    <label for="lastname2">Requested By</label>
                    <input pInputText formControlName="requestedBy" type="text" class="w-full" />
                </div>
                <div class="flex flex-wrap gap-2 w-full">
                    <label for="lastname2">Role</label>
                    <input pInputText formControlName="role" type="text" class="w-full" />
                </div>
                 <div class="flex flex-wrap gap-2 w-full">
                    <label for="lastname2">Manpower Service Manager Assignment</label>
                    <input pInputText formControlName="assignment" type="text" class="w-full" />
                </div>
                <div class="flex flex-wrap gap-2 w-full">
                    <label for="lastname2">Consultancy Name</label>
                    <p-select appendTo="body" [options]="consultancyList" formControlName="consultancyName" optionLabel="label" optionValue="label" placeholder="Select Consultancy"
                        [filter]="true" filterBy="label" class="w-full md:w-56" />
                </div>
                 <div class="flex flex-wrap gap-2 w-full">
                    <label for="lastname2">TEMP Emlopyee ID</label>
                    <input pInputText formControlName="tempEmpId" type="text" class="w-full" />
                    
                </div>
                <div class="flex flex-wrap gap-2 w-full">
                    <label for="lastname2">Candidate Name</label>
                    <input pInputText formControlName="candidateName" type="text" class="w-full" />
                </div>
                <div class="flex flex-wrap gap-2 w-full">
                    <label for="lastname2">Designation Applied</label>
                    <input pInputText formControlName="designation" type="text" class="w-full" />
                </div>
                 <div class="flex flex-wrap gap-2 w-full">
                    <label for="lastname2">Final Interview</label>
                    <p-datepicker appendTo="body" formControlName="finalInterview" placeholder="Select Date" class="w-full" /> 
                </div>
                <div class="flex flex-wrap gap-2 w-full">
                    <label for="lastname2">Interviwer</label>
                    <input pInputText formControlName="interviwer" type="text" class="w-full" />
                </div>
                <div class="flex flex-wrap gap-2 w-full">
                    <label for="lastname2">Comments</label>
                    <textarea rows="2"cols="30" formControlName="comments" pTextarea [autoResize]="true"></textarea>
                </div>
                <div class="flex flex-wrap gap-2 w-full">
                    <label for="lastname2">Status by Resource Manager </label>
                    <p-select appendTo="body" [options]="statusList" formControlName="statusResource" optionLabel="label" optionValue="label" placeholder="Select Consultancy"
                        [filter]="true" filterBy="label" class="w-full md:w-56" />
                </div>
                <div class="flex flex-wrap gap-2 w-full">
                    <label for="lastname2">Candidate Acceptance </label>
                    <p-select appendTo="body" [options]="acceptanceList" formControlName="candidateAcceptance" optionLabel="label" optionValue="label" placeholder="Select Consultancy"
                        [filter]="true" filterBy="label" class="w-full md:w-56" />
                </div>
                 <div class="flex flex-wrap gap-2 w-full">
                    <label for="lastname2">(if Y) Joining Date </label>
                    <p-datepicker appendTo="body" formControlName="joiningDate" placeholder="Select Date" class="w-full" /> 
                </div>
                <div class="flex flex-wrap gap-2 w-full">
                    <label for="lastname2">PR No</label>
                    <input pInputText formControlName="PRNo" type="text" class="w-full" />
                </div>
                <div class="flex flex-wrap gap-2 w-full">
                    <label for="lastname2">PR Date </label>
                    <p-datepicker appendTo="body" formControlName="PRDate" placeholder="Select Date" class="w-full" /> 
                </div>
                <div class="flex flex-wrap gap-2 w-full">
                    <label for="lastname2">PO Date </label>
                    <p-datepicker appendTo="body" formControlName="PODate" placeholder="Select Date" class="w-full" /> 
                </div>
                <div class="flex flex-wrap gap-2 w-full">
                    <label for="lastname2">PO Number</label>
                    <input pInputText formControlName="PONumber" type="text" class="w-full" />
                </div>
                <div class="flex flex-wrap gap-2 w-full">
                    <label for="lastname2">Resource Manager Approval on Joining </label>
                    <p-datepicker appendTo="body" formControlName="resourceJoining" placeholder="Select Date" class="w-full" /> 
                </div>

                
            </div>
             <div class="flex justify-center items-center gap-4 mt-6">
                <button pButton label="Submit" class="p-button-outlined" icon="pi pi-save"
                    ></button>
                <button pButton label="Reset" class="p-button-outlined" icon="pi pi-times"
                    severity="danger"></button>
            </div>
        </form>
</p-fluid>

<p-toast />

<p-dialog header="STEP {{stepHeader}}" [(visible)]="stepPopup" [modal]="true" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
    <form [formGroup]="step2Form" *ngIf="stepHeader == 2">
        <div class="grid grid-cols-2 gap-2">
            <div class="grid col-span-1 gap-1">
                <label for="spn-code">TEMP Emlopyee ID</label>
                <input type="text" pInputText formControlName="TempEmlopyeeId" id="spn-code" />
            </div>
            <div class="grid col-span-1 gap-1">
                <label for="spn-description">Candidate Name</label>
                <input type="text" pInputText formControlName="candidateName" id="spn-description" />
            </div>
            <div class="grid col-span-1 gap-1">
                <label for="experience">Current Designation</label>
                <input type="text" pInputText formControlName="currentDesignation" id="spn-description" />
            </div>
            <div class="grid col-span-1 gap-1">
                <label for="experience">First Interview Date and Time</label>
                <p-datepicker appendTo="body" formControlName="firstInterviewDateTime" id="experience"  placeholder="Select Date" class="w-full" /> 
            </div>
        </div>
        <div class="flex justify-end mt-4">
            <button pButton pRipple type="submit" class="w-full">
                <span pButtonLabel>Submit</span>
            </button>
        </div>
    </form>
     <form [formGroup]="step5Form" *ngIf="stepHeader == 5">
        <div class="grid grid-cols-2 gap-2">
             <div class="grid col-span-1 gap-1">
                <label for="experience">Final Interview Date and Time</label>
                <p-datepicker appendTo="body" formControlName="finalInterviewDateTime"  placeholder="Select Date" class="w-full" /> 
            </div>
        </div>
        <div class="flex justify-end mt-4">
            <button pButton pRipple type="submit" class="w-full">
                <span pButtonLabel>Submit</span>
            </button>
        </div>
    </form>
    <form [formGroup]="step9Form" *ngIf="stepHeader == 9">
        <div class="grid grid-cols-2 gap-2">
             <div class="grid col-span-1 gap-1">
                <label for="experience">Joining Date </label>
                <p-datepicker appendTo="body" formControlName="joiningDate"  placeholder="Select Date" class="w-full" /> 
            </div>
        </div>
        <div class="flex justify-end mt-4">
            <button pButton pRipple type="submit" class="w-full">
                <span pButtonLabel>Submit</span>
            </button>
        </div>
    </form>
</p-dialog>