<div class="card">
    <h5>Invoice Receipt</h5> 
    <div class="border border-[var(--p-content-border-color)] rounded-lg overflow-hidden">
        <p-table [value]="invoiceGRNList" stripedRows [rowHover]="true" [paginator]="true" [rows]="pageSize"
            [first]="first" [rowsPerPageOptions]="[10, 20, 30]" [lazy]="true" [totalRecords]="totalRecords"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true"
            [tableStyle]="{'min-width': '230rem'}" (onPage)="pageChange($event)">
            <ng-template #header>
                <tr>
                    <th>SL NO</th>
                    <th>Consultancy Name</th>
                    <th>Invoice Number</th>
                    <th>Invoice Date</th>
                    <th>Invoice Status</th>
                    <th>POD</th>
                    <th>Seal and Sign Date by Consultancy</th>
                    <th>Submitted Date</th>
                    <th>Submitted To</th>
                    <th>Month</th>
                    <th>Year</th>
                    <th>Grand Total</th>           
                    <th>Recepient (Approved By)</th>
                    <th>GRN Number</th>
                    <th>GRN Status</th>
                    <th>GRN Done Date</th>
                    <th>GRN Reverse Number</th>
                    <th>GRN Reverse Reason</th>
                </tr>
            </ng-template>
            <ng-template #body let-receipt let-i="rowIndex">
                <tr>
                    <td>{{ i + 1 }}</td>
                    <td>{{ receipt.invoiceHeader.consultancy.consultancyName }}</td>
                    <td>
                        <p-button [label]="receipt.invoiceHeader.invoiceNumber" link 
                            (onClick)="openGRN(receipt)" />
                    </td>
                    <td>{{ receipt.invoiceHeader.invoiceDate | date:'dd-MM-yyyy' }}</td>
                    <td>
                        <p-tag [value]="receipt.invoiceHeader.invoiceStatus" 
                            [severity]="getSeverity(receipt.invoiceHeader.invoiceStatus)" />
                    </td>
                    <td>{{ receipt.invoiceHeader.pod }}</td>
                    <td>{{ receipt.invoiceHeader.sealAndSignDate | date:'dd-MM-yyyy' }}</td>
                    <td>{{ receipt.invoiceHeader.submittedOn }}</td>
                    <td>{{ receipt.invoiceHeader.submittedTo }}</td>
                    <td>{{ receipt.invoiceHeader.month }}</td>
                    <td>{{ receipt.invoiceHeader.year }}</td>
                    <td>{{ receipt.invoiceHeader.grandTotal }}</td>
                    <td>{{ receipt.recipient || '-' }}</td>
                    <td>{{ receipt.grnNumber || '-' }}</td>
                    <td>
                        <p-tag [value]="receipt.grnStatus || '-'" 
                            [severity]="receipt.grnStatus ? getGRNSeverity(receipt.grnStatus) : null" />
                    </td>
                    <td>{{ receipt.grnDoneDate || '-' }}</td>
                    <td>{{ receipt.grnReverseNumber || '-' }}</td>
                    <td>{{ receipt.grnReverseReason || '-' }}</td>
                </tr>
            </ng-template>
            <ng-template #emptymessage>
                <tr>
                    <td colspan="100%" style="text-align: center; padding: 1rem 0; background-color: var(--surface-ground);">
                        No Records Found
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<p-toast />
<p-dialog header="Update GRN Process" [modal]="true" [(visible)]="openGRNModal" [style]="{ width: '35rem' }">
    <p-tabs [(value)]="activeTab">
        <p-tablist>
            <p-tab value="0">Start GRN Process</p-tab>
            <p-tab value="1" [disabled]="invoiceStatus === 'SUBMITTED'" >Complete GRN</p-tab>
            <p-tab value="2" [disabled]="invoiceStatus === 'SUBMITTED'">GRN Reverse</p-tab>
        </p-tablist>
        <p-tabpanels>
            <p-tabpanel value="0">
                <form [formGroup]="GRNProcessForm" (ngSubmit)="submitGRNProcess()">
                    <div class="grid grid-cols-1 gap-1">
                        <div class="grid col-span-1 gap-1">
                            <label for="recipient">Recipient</label>
                            <input type="text" pInputText formControlName="recipient" id="recipient" />
                        </div>
                    </div>
                    @if (invoiceStatus === 'SUBMITTED') {
                        <div class="flex justify-end mt-4">
                            <button pButton pRipple type="submit">
                                <span pButtonLabel>Submit</span>
                            </button>
                        </div>
                    }
                </form>
            </p-tabpanel>
            <p-tabpanel value="1">
                <form [formGroup]="completeGRNForm" (ngSubmit)="submitCompleteGRN()">
                    <div class="grid grid-cols-1 gap-2">
                        <div class="grid col-span-1 gap-1">
                            <label for="grn-number">GRN Number</label>
                            <input type="text" pInputText formControlName="grnNumber" id="grn-number" />
                        </div>
                        <div class="grid col-span-1 gap-1">
                            <label for="done-date">GRN Done Date</label>
                            <p-datepicker formControlName="grnDoneDate" [showIcon]="true" [iconDisplay]="'input'" 
                                inputId="done-date" placeholder="Select Date" appendTo="body" />
                        </div>
                    </div>
                    @if (invoiceStatus !== 'GRN_REVERSED') {
                        <div class="flex justify-end mt-4">
                            <button pButton pRipple type="submit">
                                <span pButtonLabel>Submit</span>
                            </button>
                        </div>
                    }
                </form>
            </p-tabpanel>
            <p-tabpanel value="2">
                <form [formGroup]="grnReverseForm" (ngSubmit)="submitGRNReverse()">
                    <div class="grid grid-cols-1 gap-2">
                        <div class="grid col-span-1 gap-1">
                            <label for="reverse-number">GRN Reverse Number</label>
                            <input type="text" pInputText formControlName="grnReverseNumber" id="reverse-number" />
                        </div>
                        <div class="grid col-span-1 gap-1">
                            <label for="reverse-reason">GRN Reverse Reason</label>
                            <textarea rows="5" cols="30" pTextarea formControlName="reverseReason"
                                id="reverse-reason"></textarea>
                        </div>
                    </div>
                    @if (invoiceStatus !== 'GRN_REVERSED') {
                        <div class="flex justify-end mt-4">
                            <button pButton pRipple type="submit">
                                <span pButtonLabel>Submit</span>
                            </button>
                        </div>
                    }
                </form>
            </p-tabpanel>
        </p-tabpanels>
    </p-tabs>
</p-dialog>