<p-fluid>
    <div class="card">
        <p class="font-semibold text-xl">Manpower Request</p>
        <form [formGroup]="demandForm" (ngSubmit)="onSubmit()">
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
                <div class="col-span-1 gap-1" formGroupName="project">
                    <label for="p-code">Project Code</label>
                    <p-select
                        [options]="PCodeList"
                        formControlName="projectId"
                        id="p-code"
                        optionLabel="projectCode"
                        optionValue="projectId"
                        placeholder="Select Project Code"
                        [filter]="true"
                        filterBy="projectCode"
                        [showClear]="true"
                        appendTo="body"
                        appFormFieldError
                        class="block w-full md:w-56"
                        (onChange)="selectedPCode($event.value)"
                    />
                    @if(projectId?.invalid && (projectId?.dirty || projectId?.touched)){ @if(projectId?.hasError('required')){
                    <p-message severity="error" variant="simple" size="small" styleClass="mt-1">Project code is required</p-message>
                    }}
                </div>
                <div class="col-span-1 gap-1">
                    <label for="site-name">Site Name</label>
                    <input type="text" pInputText [value]="projectDetails?.siteName" id="site-name" [disabled]="true" class="block w-full" />
                </div>
                <div class="col-span-1 gap-1">
                    <label for="cluster">Cluster</label>
                    <input type="text" pInputText [value]="projectDetails?.cluster?.clusterName" id="cluster" [disabled]="true" class="block w-full" />
                </div>
                <div class="col-span-1 gap-1">
                    <label for="cluster-head">Cluster Head</label>
                    <input type="text" pInputText [value]="projectDetails?.clusterHead?.userName" id="cluster-head" [disabled]="true" />
                </div>
                <div class="col-span-1 gap-1">
                    <label for="site-incharge">Site Incharge</label>
                    <input type="text" pInputText [value]="projectDetails?.siteIncharge?.userName" id="site-incharge" [disabled]="true" />
                </div>
                <div class="col-span-1 gap-1">
                    <label for="department">Department</label>
                    <input type="text" pInputText [value]="projectDetails?.department?.departmentName" id="department" [disabled]="true" />
                </div>
                <div class="col-span-1 gap-1">
                    <label for="department-head">Department Head</label>
                    <input type="text" pInputText [value]="projectDetails?.departmentHead?.userName" id="department-head" [disabled]="true" />
                </div>
                <div class="col-span-1 gap-1" formGroupName="category">
                    <label for="category">Category</label>
                    <p-select
                        [options]="categoryList"
                        formControlName="categoryId"
                        id="category"
                        optionLabel="categoryName"
                        optionValue="categoryId"
                        placeholder="Select Category"
                        [filter]="true"
                        filterBy="categoryName"
                        appendTo="body"
                        appFormFieldError
                        class="block w-full md:w-56"
                    />
                    @if(categoryId?.invalid && (categoryId?.dirty || categoryId?.touched)){ @if(categoryId?.hasError('required')){
                    <p-message severity="error" variant="simple" size="small" styleClass="mt-1">Category is required</p-message>
                    }}
                </div>
                <div class="col-span-1 gap-1">
                    <label for="requestedBy">Requested By</label>
                    <input pInputText type="text" [value]="requestedBy" [disabled]="true" class="w-full" />
                </div>
                <div class="col-span-1 gap-1">
                    <label for="lastname2">Add Manpower</label>
                    <p-button icon="pi pi-plus" [rounded]="true" class="w-full" (onClick)="addSpnRow()" />
                </div>
            </div>
            <div class="mt-4">
                <div class="col-span-1 gap-1">
                    <p class="font-semibold text-xl">Manpower Details</p>
                </div>
                <div class="border border-[var(--p-content-border-color)] rounded-lg overflow-hidden">
                    <p-table [value]="demandDetails.controls" formArrayName="demandDetails" [rowHover]="true" [scrollable]="true" scrollHeight="400px" [tableStyle]="{'min-width': '90rem'}">
                        <ng-template #header>
                            <tr>
                                <th>SL No</th>
                                <th>SPN</th>
                                <th>SPN Description</th>
                                <th>Experience</th>
                                <th>Quantity</th>
                                <th>Planned Deployment Date</th>
                                <th>Planned Release Date</th>
                                @if (demandDetails.length > 1) {
                                <th>Actions</th>
                                }
                            </tr>
                        </ng-template>
                        <ng-template #body let-row let-rowIndex="rowIndex">
                            <tr [formGroupName]="rowIndex">
                                <td>{{ rowIndex + 1 }}</td>
                                <td formGroupName="spn">
                                    <p-select
                                        [options]="spnInfoList"
                                        formControlName="spnId"
                                        optionLabel="spnCode"
                                        optionValue="spnId"
                                        [filter]="true"
                                        filterBy="spnCode"
                                        [showClear]="true"
                                        placeholder="Select SPN Code"
                                        appendTo="body"
                                        appFormFieldError
                                        class="block w-full"
                                        (onChange)="selectedSpnCode($event.value, rowIndex)"
                                    />
                                    @if(getSpnId(rowIndex)?.invalid && (getSpnId(rowIndex)?.dirty || getSpnId(rowIndex)?.touched)){ @if(getSpnId(rowIndex)?.hasError('required')){
                                    <p-message severity="error" variant="simple" size="small" styleClass="mt-1">Spn Code is required </p-message>
                                    }}
                                </td>
                                <td>
                                    <p-select
                                        [options]="spnInfoList"
                                        formControlName="spnDescription"
                                        optionValue="spnId"
                                        [filter]="true"
                                        filterBy="spnDescription"
                                        [showClear]="true"
                                        placeholder="Select SPN Description"
                                        appendTo="body"
                                        appFormFieldError
                                        class="block w-full"
                                        (onChange)="selectedSpnDescription($event.value, rowIndex)"
                                    >
                                        <ng-template #item let-item> {{ item.spnDescription }} - ({{ item.experience }}) </ng-template>
                                        <ng-template #selectedItem let-item> {{ item.spnDescription }} - ({{ item.experience }}) </ng-template>
                                    </p-select>
                                    @if(getspnDescription(rowIndex)?.invalid && (getspnDescription(rowIndex)?.dirty || getspnDescription(rowIndex)?.touched)){ @if(getspnDescription(rowIndex)?.hasError('required')){
                                    <p-message severity="error" variant="simple" size="small" styleClass="mt-1">Spn Description required </p-message>
                                    }}
                                </td>
                                <td>
                                    <p-select
                                        [options]="spnInfoList"
                                        formControlName="experience"
                                        optionLabel="experience"
                                        optionValue="spnId"
                                        [filter]="true"
                                        filterBy="experience"
                                        [showClear]="true"
                                        placeholder="Select Experience"
                                        appendTo="body"
                                        appFormFieldError
                                        class="block w-full"
                                    />
                                </td>
                                <td>
                                    <input pInputText type="number" min="1" formControlName="quantity" appendTo="body" appFormFieldError class="block w-full" />
                                    @if(getQuantityControl(rowIndex)?.invalid && (getQuantityControl(rowIndex)?.dirty || getQuantityControl(rowIndex)?.touched)){ @if(getQuantityControl(rowIndex)?.hasError('required')){
                                    <p-message severity="error" variant="simple" size="small" styleClass="mt-1"> Quantity is required </p-message>
                                    }@if (getQuantityControl(rowIndex)?.hasError('minlength')) {
                                    <p-message severity="error" variant="simple" size="small" styleClass="mt-1"> Quantity must contain at least 1 characters </p-message>
                                    } @if (getQuantityControl(rowIndex)?.hasError('maxlength')) {
                                    <p-message severity="error" variant="simple" size="small" styleClass="mt-1"> Quantity cannot exceed 100 characters </p-message>
                                    } }
                                </td>
                                <td>
                                    <p-datepicker formControlName="plannedDeploymentDate" [minDate]="minDate" placeholder="Select Date" appendTo="body" appFormFieldError class="block w-full" (onSelect)="selectedDeploymentDate($event)" />
                                    @if(getDeploymentDate(rowIndex)?.invalid && (getDeploymentDate(rowIndex)?.dirty || getDeploymentDate(rowIndex)?.touched)){ @if(getDeploymentDate(rowIndex)?.hasError('required')){
                                    <p-message severity="error" variant="simple" size="small" styleClass="mt-1">PlannedDeploymentDate is required </p-message>
                                    }}
                                </td>
                                <td>
                                    <p-datepicker formControlName="plannedReleaseDate" [minDate]="releaseMinDate" placeholder="Select Date" appendTo="body" appFormFieldError class="block w-full" />
                                    @if(getReleaseDate(rowIndex)?.invalid && (getReleaseDate(rowIndex)?.dirty || getReleaseDate(rowIndex)?.touched)){ @if(getReleaseDate(rowIndex)?.hasError('required')){
                                    <p-message severity="error" variant="simple" size="small" styleClass="mt-1">PlannedReleaseDate is required </p-message>
                                    }}
                                </td>
                                @if (demandDetails.length > 1) {
                                <td>
                                    <p-button icon="pi pi-trash" severity="danger" [rounded]="true" (onClick)="deleteSpnRow(rowIndex)" />
                                </td>
                                }
                            </tr>
                        </ng-template>
                    </p-table>
                </div>

                <div class="flex justify-center items-center gap-4 mt-6">
                    <button pButton pRipple type="submit" label="Submit" class="p-button-outlined" icon="pi pi-save"></button>
                    <button pButton pRipple label="Reset" class="p-button-outlined" icon="pi pi-times" severity="danger" (click)="demandForm.reset()"></button>
                </div>
            </div>
        </form>
    </div>
</p-fluid>

<p-toast />
