<div class="card">
    <h5>Resignation</h5>
    <div class="flex">
        <button class="custom-btn" pButton pRipple text (click)="setActiveTab('processing', 102)"
            [ngClass]="{ 'active-tab': activeTab === 'processing' }">
            <i class="pi pi-stopwatch" pButtonIcon></i>
            <span pButtonLabel>Processing</span>
        </button>
        <button class="custom-btn" pButton pRipple text (click)="setActiveTab('accepted', 200)"
            [ngClass]="{ 'active-tab': activeTab === 'accepted' }">
            <i class="pi pi-check-circle" pButtonIcon></i>
            <span pButtonLabel>Accepted</span>
        </button>
        <button class="custom-btn" pButton pRipple text (click)="setActiveTab('rejected', 406)"
            [ngClass]="{ 'active-tab': activeTab === 'rejected' }">
            <i class="pi pi-times-circle" pButtonIcon></i>
            <span pButtonLabel>Rejected</span>
        </button>
    </div>
    <div class="border border-[var(--p-content-border-color)] rounded-lg overflow-hidden">
        <p-table [value]="resignationList" stripedRows [rowHover]="true" [paginator]="true" [rows]="pageSize"
            [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 20, 30]" [totalRecords]="resignationListLength"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [first]="first"
            [tableStyle]="{'min-width': '100rem'}" (onPage)="pageChange($event)">
            <ng-template #header>
                <tr>
                    <th>SL No</th>
                    <th>Employee Code</th>
                    <th>Employee Name</th>
                    <th>Project Code</th>
                    <th>Site Name</th>
                    <th>Cluster Name</th>
                    <th>Role</th>
                    <th>NDC From Site Head</th>
                    <th>NDC From Consultancy</th>
                    <th>Cluster Head Approval</th>
                    <th>Department Head Approval</th>
                </tr>
            </ng-template>
            <ng-template #body let-resignation let-i="rowIndex">
                <tr>
                    <td>{{ i + 1 }}</td>
                    <td>{{ resignation.candidate.employeeCode }}</td>
                    <td>{{ resignation.candidate.candidateName }}</td>
                    <td>{{ resignation.employmentDetails.project.projectCode }}</td>
                    <td>{{ resignation.employmentDetails.project.siteName }}</td>
                    <td>{{ resignation.employmentDetails.cluster.clusterName }}</td>
                    <td>{{ resignation.employmentDetails.envisionRole.roleName }}</td>
                    <td>{{ resignation.ndcFromSiteHead === true ? 'Yes' : 'No' }}</td>
                    <td>{{ resignation.ndcFromConsultancy === true ? 'Yes' : 'No' }}</td>
                    <td>
                        <div class="flex items-center justify-center gap-2">
                            @if (resignation.stateHeadApproval.approvalStatus === APPROVALSTATUS.ACCEPTED) {
                                <p-button icon="pi pi-check" severity="primary" rounded [disabled]="true" />
                            } @else if (resignation.stateHeadApproval.approvalStatus === APPROVALSTATUS.REJECTED) {
                                <p-button icon="pi pi-times" severity="danger" rounded [disabled]="true" />
                            }
                            @if (resignation.stateHeadApproval.approvalStatus === APPROVALSTATUS.PENDING) {
                                <p-button icon="pi pi-check" severity="primary" rounded 
                                   (onClick)="clusterHeadApproval(resignation.resignationId, 'Accepted')" />
                                <p-button icon="pi pi-times" severity="danger" rounded
                                    (onClick)="clusterHeadApproval(resignation.resignationId, 'Rejected')" />
                            }
                        </div>
                    </td>
                    <td>
                        <div class="flex items-center justify-center gap-2">
                            @if (resignation.departmentHeadApproval.approvalStatus === APPROVALSTATUS.ACCEPTED) {
                                <p-button icon="pi pi-check" severity="primary" rounded [disabled]="true" />
                            } @else if (resignation.departmentHeadApproval.approvalStatus === APPROVALSTATUS.REJECTED) {
                                <p-button icon="pi pi-times" severity="danger" rounded [disabled]="true" />
                            }
                            @if (resignation.departmentHeadApproval.approvalStatus === APPROVALSTATUS.PENDING) {
                                <p-button icon="pi pi-check" severity="primary" rounded 
                                   (onClick)="departmentHeadApproval(resignation.resignationId, 'Accepted')" />
                                <p-button icon="pi pi-times" severity="danger" rounded 
                                   (onClick)="departmentHeadApproval(resignation.resignationId, 'Rejected')" />
                            }
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template #emptymessage>
                <tr>
                    <td colspan="100%" style="text-align: center; padding: 1rem 0; background-color: var(--surface-ground);">
                        No Records Found
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<p-toast />