<div class="card">
    <div class="flex items-baseline-last justify-between">
        <h5>Resignation</h5>
        <p-menu #menu [model]="getMenuItems()" [popup]="true" />
        <p-button (onClick)="menu.toggle($event)" label="Actions" icon="pi pi-angle-down" 
            iconPos="right" [disabled]="!selectedResignationId" />
    </div>
    <div class="flex">
        <button class="custom-btn" pButton pRipple text (click)="setActiveTab('processing', 102)"
            [ngClass]="{ 'active-tab': activeTab === 'processing' }">
            <i class="pi pi-stopwatch" pButtonIcon></i>
            <span pButtonLabel>Processing</span>
        </button>
        <button class="custom-btn" pButton pRipple text (click)="setActiveTab('accepted', 200)"
            [ngClass]="{ 'active-tab': activeTab === 'accepted' }">
            <i class="pi pi-check-circle" pButtonIcon></i>
            <span pButtonLabel>Accepted</span>
        </button>
        <button class="custom-btn" pButton pRipple text (click)="setActiveTab('rejected', 406)"
            [ngClass]="{ 'active-tab': activeTab === 'rejected' }">
            <i class="pi pi-times-circle" pButtonIcon></i>
            <span pButtonLabel>Rejected</span>
        </button>
    </div>
    <div class="border border-[var(--p-content-border-color)] rounded-lg overflow-hidden">
        <p-table [value]="resignationList" stripedRows [rowHover]="true" [paginator]="true" [rows]="pageSize"
            [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 20, 30]" [totalRecords]="resignationListLength"
            selectionMode="single" dataKey="resignationId" (onRowSelect)="selectedEmployee($event.data)" 
            (onRowUnselect)="unSelectedEmployee()" [first]="first" [(selection)]="selectedResignation"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" 
            [tableStyle]="{'min-width': '100rem'}" (onPage)="pageChange($event)">
            <ng-template #header>
                <tr>
                    <th>SL No</th>
                    <th>Employee Code</th>
                    <th>Employee Name</th>
                    <th>Project Code</th>
                    <th>Site Name</th>
                    <th>Cluster Name</th>
                    <th>Role</th>
                    <th>Status</th>
                    <th>NDC From Site Head</th>
                    <th>NDC From Consultancy</th>
                    <th>Cluster Head Approval</th>
                    <th>Department Head Approval</th>
                </tr>
            </ng-template>
            <ng-template #body let-resignation let-i="rowIndex">
                <tr [pSelectableRow]="resignation">
                    <td>{{ i + 1 }}</td>
                    <td>{{ resignation.candidate.employeeCode }}</td>
                    <td>{{ resignation.candidate.candidateName }}</td>
                    <td>{{ resignation.employmentDetails.project.projectCode }}</td>
                    <td>{{ resignation.employmentDetails.project.siteName }}</td>
                    <td>{{ resignation.employmentDetails.cluster.clusterName }}</td>
                    <td>{{ resignation.employmentDetails.envisionRole.roleName }}</td>
                    <td>
                        <p-tag [value]="getStatusLabel(resignation.resignationStatus)"
                            [severity]="getSeverity(resignation.resignationStatus)" />
                    </td>
                    <td>
                        <p-select [options]="noDueClearanceList" optionLabel="label" optionValue="value"
                            inputId="no-due-clerance-sm" placeholder="Select Yes/No" appendTo="body" />
                    </td>
                    <td>
                        <p-select [options]="noDueClearanceList" optionLabel="label" optionValue="value"
                            inputId="no-due-clerance-sm" placeholder="Select Yes/No" appendTo="body" />
                    </td>
                    <td>
                        <div class="flex items-center justify-center gap-2">
                            @if (resignation.stateHeadApproval.approvalStatus === APPROVALSTATUS.ACCEPTED) {
                                <p-button icon="pi pi-check" severity="primary" rounded [disabled]="true" />
                            } @else if (resignation.stateHeadApproval.approvalStatus === APPROVALSTATUS.REJECTED) {
                                <p-button icon="pi pi-times" severity="danger" rounded [disabled]="true" />
                            }
                            @if (resignation.stateHeadApproval.approvalStatus === APPROVALSTATUS.PENDING) {
                                <p-button icon="pi pi-check" severity="primary" rounded 
                                   (onClick)="clusterHeadApproval(resignation.resignationId, 'Accepted')" />
                                <p-button icon="pi pi-times" severity="danger" rounded
                                    (onClick)="clusterHeadApproval(resignation.resignationId, 'Rejected')" />
                            }
                        </div>
                    </td>
                    <td>
                        <div class="flex items-center justify-center gap-2">
                            @if (resignation.departmentHeadApproval.approvalStatus === APPROVALSTATUS.ACCEPTED) {
                                <p-button icon="pi pi-check" severity="primary" rounded [disabled]="true" />
                            } @else if (resignation.departmentHeadApproval.approvalStatus === APPROVALSTATUS.REJECTED) {
                                <p-button icon="pi pi-times" severity="danger" rounded [disabled]="true" />
                            }
                            @if (resignation.departmentHeadApproval.approvalStatus === APPROVALSTATUS.PENDING) {
                                <p-button icon="pi pi-check" severity="primary" rounded 
                                   (onClick)="departmentHeadApproval(resignation.resignationId, 'Accepted')" />
                                <p-button icon="pi pi-times" severity="danger" rounded 
                                   (onClick)="departmentHeadApproval(resignation.resignationId, 'Rejected')" />
                            }
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template #emptymessage>
                <tr>
                    <td colspan="100%" style="text-align: center; padding: 1rem 0; background-color: var(--surface-ground);">
                        No Records Found
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<p-toast />
<p-confirmdialog>
    <ng-template #headless let-message let-onAccept="onAccept" let-onReject="onReject">
        <div class="grid place-items-center p-8 bg-surface-0 dark:bg-surface-900 rounded">
            <div class="rounded-full bg-primary text-primary-contrast inline-flex justify-center items-center h-24 w-24 -mt-20">
                <i class="pi pi-question !text-5xl"></i>
            </div>
            <span class="font-bold text-2xl block mb-2 mt-4">{{ message.header }}</span>
            <p class="mb-0">Please Type <span class="font-bold">Confirm</span> to Proceed</p>
            <input type="text" pInputText class="w-full -mt-3" (input)="typedValue($event)" />
            <div class="flex items-center gap-2 mt-3">
                <p-button label="OK" (onClick)="onAccept()" styleClass="w-32" [disabled]="!isEnabledBtn" />
                <p-button label="Cancel" [outlined]="true"
                    (onClick)="onReject()" styleClass="w-32" />
            </div>
        </div>
    </ng-template>
</p-confirmdialog>