tr th {
    background-color: rgb(22, 68, 166);
    color: #fff;
    font-weight: bold;
}


.custom-btn {
    color: var(--surface-400) !important;
    font-weight: 400;
}

.custom-btn.active-tab {
    color: var(--primary-color) !important;
    font-weight: bold !important;
}