<div class="card">
    <div class="flex items-baseline-last justify-between">
        <h5>Resignation</h5>
        <div class="flex justify-end gap-1">
            @if (currentUser === USERGROUPS.ADMIN || currentUser === USERGROUPS.RESOURCEMANAGER) {
                <p-menu #menu [model]="getMenuItems()" [popup]="true" />
                <p-button (onClick)="menu.toggle($event)" label="Actions" icon="pi pi-angle-down" 
                    iconPos="right" [disabled]="!selectedResignationId" />
            }
            <p-button label="Clear" icon="pi pi-filter-slash" (onClick)="dt.clear()" />
        </div>
    </div>
    <div #mydiv class="border border-[var(--p-content-border-color)] rounded-lg overflow-hidden">
        <p-table #dt [value]="resignationList" stripedRows [rowHover]="true" [paginator]="true" [rows]="pageSize"
            [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 20, 30]" [totalRecords]="totalRecords"
            selectionMode="single" dataKey="resignationId" (onRowSelect)="selectedEmployee($event.data)" [lazy]="true"
            (onRowUnselect)="unSelectedEmployee()" [first]="first" [(selection)]="selectedResignation"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [paginatorDropdownAppendTo]="mydiv"
            [tableStyle]="{'min-width': '100rem'}" (onLazyLoad)="loadResignation($event)">
            <ng-template #header>
                <tr>
                    <th>SL No</th>
                    <th>
                        <div class="flex items-center justify-between">
                            <span>Employee Code</span>
                            <p-columnFilter type="text" field="employeeCode" display="menu" />
                        </div>
                    </th>
                    <th>
                        <div class="flex items-center justify-between">
                            <span>Employee Name</span>
                            <p-columnFilter type="text" field="candidateName" display="menu" />
                        </div>
                    </th>
                    <th>
                        <div class="flex items-center justify-between">
                            <span>Project Code</span>
                            <p-columnFilter type="text" field="projectCode" display="menu" />
                        </div>
                    </th>
                    <th>Site Name</th>
                    <th>
                        <div class="flex items-center justify-between">
                            <span>Cluster Name</span>
                            <p-columnFilter type="text" field="clusterName" display="menu" />
                        </div>
                    </th>
                    <th>Role</th>
                    <th>
                        <div class="flex items-center justify-between">
                            <span>Last Working Date</span>
                            <p-columnFilter type="date" field="date" display="menu" matchMode="between"
                                [showOperator]="false">
                                <ng-template #filter let-filter="filterCallback" let-value>
                                    <div class="flex flex-col gap-2">
                                        <p-datepicker [ngModel]="value?.[0] || null" 
                                            (ngModelChange)="updateRange($event, value, 0, filter)"
                                           placeholder="From Date" />
                                        <p-datepicker [ngModel]="value?.[1] || null"
                                            (ngModelChange)="updateRange($event, value, 1, filter)"
                                            placeholder="To Date" />
                                    </div>
                                </ng-template>
                            </p-columnFilter>
                        </div> 
                    </th>
                    <th>
                        <div class="flex items-center justify-between">
                            <span>Is Replacement Required</span>
                            <p-columnFilter field="replace" matchMode="equals" display="menu">
                                <ng-template #filter let-value let-filter="filterCallback">
                                    <p-select [options]="isReplacement" optionLabel="label" optionValue="value"
                                       (onChange)="filter($event.value)" placeholder="Select Yes/No"
                                        class="w-full" />
                                </ng-template>
                            </p-columnFilter>
                        </div>
                    </th>
                    <th>
                        <div class="flex items-center justify-between">
                            <span>Status</span>
                            <p-columnFilter field="status" matchMode="equals" display="menu">
                                <ng-template #filter let-value let-filter="filterCallback">
                                    <p-multiselect [options]="statuses" (onChange)="filter($event.value)"
                                        placeholder="Select Statuses" class="w-full">
                                        <ng-template let-option #item>
                                            <p-tag [value]="option.label" [severity]="getSeverity(option.value)" />
                                        </ng-template>
                                    </p-multiselect>
                                </ng-template>
                            </p-columnFilter>
                        </div>
                    </th>
                    <th>NDC From Site Incharge</th>
                    <th>NDC From Consultancy</th>
                    <th>Cluster Head Approval</th>
                    <th>Department Head Approval</th>
                </tr>
            </ng-template>
            <ng-template #body let-resignation let-i="rowIndex">
                <tr [pSelectableRow]="resignation">
                    <td>{{ i + 1 }}</td>
                    <td>{{ resignation.candidate.employeeCode }}</td>
                    <td>{{ resignation.candidate.candidateName }}</td>
                    <td>{{ resignation.employmentDetails.project.projectCode }}</td>
                    <td>{{ resignation.employmentDetails.project.siteName }}</td>
                    <td>{{ resignation.employmentDetails.cluster.clusterName }}</td>
                    <td>{{ resignation.employmentDetails.envisionRole.roleName }}</td>
                    <td>{{ resignation.lastWorkingDate }}</td>
                    <td>{{ resignation.replacementRequired ? 'Yes' : 'No' }}</td>
                    <td>
                        <p-tag [value]="getStatusLabel(resignation.resignationStatus)"
                            [severity]="getSeverity(resignation.resignationStatus)" />
                    </td>
                    <td>
                        <p-select [options]="noDueClearanceList" [(ngModel)]="resignation.ndcFromSiteHead" optionLabel="label" 
                            optionValue="value" inputId="no-due-clerance-sm" placeholder="Select Yes/No" appendTo="body"
                            (onChange)="siteInchargeNDC($event.value, resignation.resignationId)"
                            [disabled]="currentUser !== USERGROUPS.ADMIN && currentUser !== USERGROUPS.SITEINCHARGE" />
                    </td>
                    <td>
                        <p-select [options]="noDueClearanceList" [(ngModel)]="resignation.ndcFromConsultancy" optionLabel="label" 
                            optionValue="value" inputId="no-due-clerance-sm" placeholder="Select Yes/No" appendTo="body"
                            (onChange)="consultancyNDC($event.value, resignation.resignationId)"
                            [disabled]="currentUser !== USERGROUPS.CONSULTANCY" />
                    </td>
                    <td>
                        <div class="flex items-center justify-center gap-2">
                            @if (resignation.stateHeadApproval.approvalStatus === APPROVALSTATUS.ACCEPTED) {
                                <p-button icon="pi pi-check" severity="primary" rounded [disabled]="true" />
                            } @else if (resignation.stateHeadApproval.approvalStatus === APPROVALSTATUS.REJECTED) {
                                <p-button icon="pi pi-times" severity="danger" rounded [disabled]="true" />
                            }
                            @if (resignation.stateHeadApproval.approvalStatus === APPROVALSTATUS.PENDING) {
                                <p-button icon="pi pi-check" severity="primary" rounded 
                                   (onClick)="clusterHeadApproval(resignation.resignationId, 'Accepted')" />
                                <p-button icon="pi pi-times" severity="danger" rounded
                                    (onClick)="clusterHeadApproval(resignation.resignationId, 'Rejected')" />
                            }
                        </div>
                    </td>
                    <td>
                        <div class="flex items-center justify-center gap-2">
                            @if (resignation.departmentHeadApproval.approvalStatus === APPROVALSTATUS.ACCEPTED) {
                                <p-button icon="pi pi-check" severity="primary" rounded [disabled]="true" />
                            } @else if (resignation.departmentHeadApproval.approvalStatus === APPROVALSTATUS.REJECTED) {
                                <p-button icon="pi pi-times" severity="danger" rounded [disabled]="true" />
                            }
                            @if (resignation.departmentHeadApproval.approvalStatus === APPROVALSTATUS.PENDING) {
                                <p-button icon="pi pi-check" severity="primary" rounded 
                                   (onClick)="departmentHeadApproval(resignation.resignationId, 'Accepted')" />
                                <p-button icon="pi pi-times" severity="danger" rounded 
                                   (onClick)="departmentHeadApproval(resignation.resignationId, 'Rejected')" />
                            }
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template #emptymessage>
                <tr>
                    <td colspan="100%" style="text-align: center; padding: 1rem 0; background-color: var(--surface-ground);">
                        No Records Found
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<p-toast />
<p-confirmdialog>
    <ng-template #headless let-message let-onAccept="onAccept" let-onReject="onReject">
        <div class="grid place-items-center p-8 bg-surface-0 dark:bg-surface-900 rounded">
            <div class="rounded-full bg-primary text-primary-contrast inline-flex justify-center items-center h-24 w-24 -mt-20">
                <i class="pi pi-question !text-5xl"></i>
            </div>
            <span class="font-bold text-2xl block mb-2 mt-4">{{ message.header }}</span>
            <p class="mb-0">Please Type <span class="font-bold">Confirm</span> to Proceed</p>
            <input type="text" pInputText class="w-full -mt-3" (input)="typedValue($event)" />
            <div class="flex items-center gap-2 mt-3">
                <p-button label="OK" (onClick)="onAccept()" styleClass="w-32" [disabled]="!isEnabledBtn" />
                <p-button label="Cancel" [outlined]="true"
                    (onClick)="onReject()" styleClass="w-32" />
            </div>
        </div>
    </ng-template>
</p-confirmdialog>

<p-dialog header="Edit Resignation" [(visible)]="resignationModal" [modal]="true" [draggable]="false"
    [style]="{width: '50rem'}" (onHide)="onDialogClose()">
    <form [formGroup]="updateResignationForm" (ngSubmit)="onSubmit()">
        <div class="grid grid-cols-2 gap-2">
            <div class="grid col-span-1 gap-1">
                <label for="last-working-date">Last Working Date</label>
                <p-datepicker formControlName="newLastWorkingDate" [minDate]="minDate" [showIcon]="true" [iconDisplay]="'input'" 
                    dateFormat="yy-mm-dd" placeholder="Select Date" inputId="last-working-date" appendTo="body" />
            </div>
            <div class="grid col-span-1 gap-1">
                <label for="reason">Reason</label>
                <input type="text" pInputText formControlName="reason" id="reason" />
            </div>
        </div>
        <div class="flex justify-end mt-4">
            <button pButton pRipple type="submit">
                <span pButtonLabel>Submit</span>
            </button>
        </div>
    </form>
</p-dialog>