<div class="card">
    <h5>Transfer Employee</h5>
    <p class="text-lg font-semibold">Transfer From</p>
    <form [formGroup]="transferForm" (ngSubmit)="onSubmit()">
        <div class="mb-4">
            <span class="font-bold">Demand Code:</span>
            <span class="ml-2 px-3 py-1 rounded text-sm font-semibold" [ngClass]="employeeDetails?.employeeDetails?.demand
                  ? 'bg-green-100 text-green-800'
                  : 'bg-red-100 text-red-800'">
                {{ employeeDetails?.employeeDetails?.demand?.demandCode ?? 'Not Found' }}
            </span>
        </div>

        <div class="grid grid-cols-2 gap-2" formArrayName="transferDetails">
            @for (item of transferDetails.controls; track $index; let i = $index) {
                <ng-container [formGroupName]="i">
                    <div class="grid col-span-1 gap-1">
                        <label for="project-code">Project Code</label>
                        <input type="text" pInputText 
                            [value]="employeeDetails?.employeeDetails?.project?.projectCode" [disabled]="true" id="project-code" />
                    </div>
                    <div class="grid col-span-1 gap-1">
                        <label for="site-name">Site Name</label>
                        <input type="text" pInputText 
                            [value]="employeeDetails?.employeeDetails?.project?.siteName" [disabled]="true" id="site-name" />
                    </div>
                    <div class="grid col-span-1 gap-1">
                        <label for="cluster">Cluster</label>
                        <input type="text" pInputText 
                            [value]="employeeDetails?.employeeDetails?.cluster?.clusterName" [disabled]="true" id="cluster" />
                    </div>
                    <div class="grid col-span-1 gap-1">
                        <label for="cluster-head">Cluster Head</label>
                        <input type="text" pInputText 
                            [value]="employeeDetails?.employeeDetails?.clusterHead?.userName" [disabled]="true" id="cluster-head" />
                    </div>
                    <div class="grid col-span-1 gap-1">
                        <label for="site-incharge">Site Incharge</label>
                        <input type="text" pInputText [value]="employeeDetails?.employeeDetails?.siteIncharge?.userName" 
                            id="site-incharge" [disabled]="true" />
                    </div>
                    <div class="grid col-span-1 gap-1">
                        <label for="department">Department</label>
                        <input type="text" pInputText [value]="employeeDetails?.employeeDetails?.department?.departmentName" 
                           id="department" [disabled]="true" />
                    </div>
                    <div class="grid col-span-1 gap-1">
                        <label for="department-head">Department Head</label>
                        <input type="text" pInputText [value]="employeeDetails?.employeeDetails?.departmentHead?.userName" 
                           id="department-head" [disabled]="true" />
                    </div>
                    <div class="grid col-span-1 gap-1">
                        <label for="department-head">Role</label>
                        <input type="text" pInputText [value]="employeeDetails?.employeeDetails?.envisionRole?.roleName"
                            id="department-head" [disabled]="true" />
                    </div>
                    <div class="grid col-span-1 gap-1">
                        <label for="spn-code">SPN Code</label>
                        <input type="text" pInputText [value]="employeeDetails?.employeeDetails?.spn?.spnCode"
                            [disabled]="true" id="spn-code" />
                    </div>
                    <div class="grid col-span-1 gap-1">
                        <label for="spn-description">SPN Description</label>
                        <input type="text" pInputText [value]="employeeDetails?.employeeDetails?.spn?.spnDescription"
                            [disabled]="true" id="spn-description" />
                    </div>
                    <div class="grid col-span-1 gap-1">
                        <label for="experience">Experience</label>
                        <input type="text" pInputText [value]="employeeDetails?.employeeDetails?.spn?.experience"
                            [disabled]="true" id="experience" />
                    </div>
                    <div class="grid col-span-1 gap-1" formGroupName="transferFrom">
                        <label for="last-working-date">Last Working Date</label>
                        <p-datepicker formControlName="lastWorkingDate" [minDate]="minDate" [showIcon]="true" [iconDisplay]="'input'" 
                            placeholder="Select Date" appendTo="body" inputId="last-working-date" (onSelect)="selectedLastDate($event)" />
                    </div>
                </ng-container>
            }
        </div>
    </form>
</div>


<div class="card">
    <p class="text-lg font-semibold">Transfer To</p>
    <form [formGroup]="transferForm" (ngSubmit)="onSubmit()">
        <div class="grid grid-cols-2 gap-2" formArrayName="transferDetails">
            @for (item of transferDetails.controls; track $index; let i = $index) {
                <ng-container [formGroupName]="i">
                    <div class="grid col-span-1 gap-1" formGroupName="transferTo">
                        <label for="project-code">Demand Code</label>
                        <p-select [options]="demandList" formControlName="demandId" optionLabel="demandCode" optionValue="demandId"
                            [filter]="true" filterBy="demandCode" placeholder="Select Demand Code" 
                            inputId="project-code" (onChange)="selectedDCode($event.value)" />
                    </div>
                    <div class="grid col-span-1 gap-1">
                        <label for="project-code">Project Code</label>
                        <input type="text" pInputText id="project-code" 
                            [value]="demandDetails?.requesitionDetails.project.projectCode" [disabled]="true" />
                    </div>
                    <div class="grid col-span-1 gap-1">
                        <label for="site-name">Site Name</label>
                        <input type="text" pInputText id="site-name" 
                            [value]="demandDetails?.requesitionDetails.project.siteName" [disabled]="true" />
                    </div>
                    <div class="grid col-span-1 gap-1">
                        <label for="cluster">Cluster</label>
                        <input type="text" pInputText id="cluster" 
                            [value]="demandDetails?.requesitionDetails?.cluster?.clusterName" [disabled]="true" />
                    </div>
                    <div class="grid col-span-1 gap-1">
                        <label for="cluster-head">Cluster Head</label>
                        <input type="text" pInputText id="cluster-head" 
                            [value]="demandDetails?.requesitionDetails?.clusterHead?.userName" [disabled]="true" />
                    </div>
                    <div class="grid col-span-1 gap-1">
                        <label for="site-incharge">Site Incharge</label>
                        <input type="text" pInputText id="site-incharge" 
                            [value]="demandDetails?.requesitionDetails?.siteIncharge?.userName" [disabled]="true" />
                    </div>
                    <div class="grid col-span-1 gap-1">
                        <label for="department">Department</label>
                        <input type="text" pInputText id="department" 
                            [value]="demandDetails?.requesitionDetails?.department?.departmentName" [disabled]="true" />
                    </div>
                    <div class="grid col-span-1 gap-1">
                        <label for="department-head">Department Head</label>
                        <input type="text" pInputText id="department-head" 
                            [value]="demandDetails?.requesitionDetails?.departmentHead?.userName" [disabled]="true" />
                    </div>
                    <div class="grid col-span-1 gap-1">
                        <label for="role">Role</label>
                        <input type="text" pInputText id="role"
                            [value]="demandDetails?.envisionRole?.roleName" [disabled]="true" />
                    </div>
                    <div class="grid col-span-1 gap-1">
                        <label for="spn-code">SPN Code</label>
                        <input type="text" pInputText id="spn-code" 
                            [value]="demandDetails?.spn?.spnCode" [disabled]="true" />
                    </div>
                    <div class="grid col-span-1 gap-1">
                        <label for="spn-description">SPN Description</label>
                        <input type="text" pInputText [value]="demandDetails?.spn?.spnDescription" [disabled]="true"
                            id="spn-description" />
                    </div>
                    <div class="grid col-span-1 gap-1">
                        <label for="experience">Experience</label>
                        <input type="text" pInputText [value]="demandDetails?.spn?.experience" [disabled]="true"
                            id="experience" />
                    </div>
                    <div class="grid col-span-1 gap-1">
                        <label for="joining-date">Joining Date</label>
                        <p-datepicker formControlName="joiningDate" [minDate]="minJoiningDate" [iconDisplay]="'input'" 
                            [showIcon]="true" placeholder="Select Date" appendTo="body" inputId="joining-date" />
                    </div>
                    <div class="grid col-span-1 gap-1">
                        <label for="replace">Replacement Required?</label>
                        <p-select [options]="isReplacement" formControlName="isReplacementRequired" 
                            optionLabel="label" optionValue="value" inputId="replace" placeholder="Select Yes/No" 
                            (onChange)="replacementChange($event.value)" />
                    </div>
                </ng-container>
            }
        </div>
        <div class="flex justify-end mt-4">
            <button pButton pRipple type="submit">
                <span pButtonLabel>Submit</span>
            </button>
        </div>
    </form>
</div>

<p-toast />