<div class="card">
    <div class="flex items-baseline-last justify-between">
        <h5>Manpower Approval</h5>
        <p-button icon="pi pi-filter-slash" label="Clear" (click)="dt.clear()" />
    </div>
    <div class="border border-[var(--p-content-border-color)] rounded-lg overflow-hidden">
        <p-table [value]="demandProcessingList" #dt [(selection)]="selectedApprovalList" dataKey="id" [lazy]="true"
            [tableStyle]="{ 'min-width': '130rem' }" [paginator]="true" [rowsPerPageOptions]="[10, 20, 30]" stripedRows
            [rows]="pageSize" [rowHover]="true" [showCurrentPageReport]="true" [first]="first"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [totalRecords]="totalRecords"
            responsiveLayout="scroll" (onLazyLoad)="loadDemands($event)"
            [globalFilterFields]="['demandCode', 'spn.spnCode','spn.spnDescription','spn.experience', 'requisitionCode', 'envisionRole.roleName']">
            <ng-template #header>
                <tr>
                    <th>S.No</th>
                    <th>View</th>
                    <th>
                        <div class="flex items-center justify-between">
                            <span>Demand Code</span>
                            <p-columnFilter type="text" field="demandCode" display="menu" />
                        </div>
                    </th>
                    <th>
                        <div class="flex items-center justify-between">
                            <span>SPN Code</span>
                            <p-columnFilter type="text" field="spnCode" display="menu" />
                        </div>
                    </th>
                    <th>
                        <div class="flex items-center justify-between">
                            <span>SPN Description</span>
                            <p-columnFilter type="text" field="spnDescription" display="menu" />
                        </div>    
                    </th>
                    <th>
                        <div class="flex items-center justify-between">
                            <span>Experience</span>
                            <p-columnFilter type="text" field="experience" display="menu" />
                        </div>
                    </th>
                    <th>
                        <div class="flex items-center justify-between">
                            <span>Role</span>
                            <p-columnFilter type="text" field="role" display="menu" />
                        </div>
                    </th>
                    <th>Quantity</th>
                    <th>Planned Deployment Date</th>
                    <th>Planned Release Date</th>
                    <th>
                        <div class="flex items-center  justify-between">
                            <span>Demand Status</span>
                            <p-columnFilter field="status" matchMode="equals" display="menu">
                                <ng-template #filter let-value let-filter="filterCallback">
                                    <p-multiselect [options]="statuses" (onChange)="filter($event.value)"
                                        placeholder="Select Statuses" class="w-full">
                                        <ng-template let-option #item>
                                            <p-tag [value]="option.label" [severity]="getSeverity(option.value)" />
                                        </ng-template>
                                    </p-multiselect>
                                </ng-template>
                            </p-columnFilter>
                        </div>
                    </th>
                    <th style="text-align: center;">Cluster Head Approval</th>
                    <th style="text-align: center;">Department Head Approval</th> 
                </tr>
            </ng-template>
            <ng-template #body let-demand let-rowIndex="rowIndex">
                <tr>
                    <td>{{ rowIndex + 1 }}</td>
                    <td>
                        <p-button icon="pi pi-eye" [rounded]="true" 
                            class="w-full" severity="warn" (click)="showDetailPopup(demand.requesitionId)"/>
                    </td>
                    <td>{{ demand.demandCode }}</td>
                    <td>{{ demand.spn.spnCode }}</td>
                    <td>{{ demand.spn.spnDescription }}</td>
                    <td>{{ demand.spn.experience }}</td>
                    <td>{{ demand?.envisionRole?.roleName || '-' }}</td>
                    <td style="text-align: center;">
                        <input type="text" pInputText [value]="demand.quantity" [(ngModel)]="demand.quantity" 
                            (blur)="demandQtyChange(demand.demandId, demand.quantity)" 
                            [disabled]="demand.stateHeadApproval.approvalStatus === APPROVALSTATUS.ACCEPTED ||
                                demand.departmentHeadApproval.approvalStatus === APPROVALSTATUS.ACCEPTED" />
                    </td>
                    <td>{{ demand.plannedDeploymentDate || '-' }}</td>
                    <td>{{ demand.plannedReleaseDate || '-' }}</td>
                    <td>
                        <p-tag [value]="getStatusLabel(demand.demandStatus)" 
                            [severity]="getSeverity(demand.demandStatus)" />
                    </td>
                    <td style="text-align: center;">
                        @if (demand.stateHeadApproval.approvalStatus === APPROVALSTATUS.ACCEPTED) {
                            <p-button icon="pi pi-check" [rounded]="true" [disabled]="true" />
                        }
                        @else if (demand.stateHeadApproval.approvalStatus === APPROVALSTATUS.REJECTED){
                            <p-button icon="pi pi-times" [rounded]="true" [disabled]="true" severity="danger" />
                        } 
                        @else if (demand.stateHeadApproval.approvalStatus === APPROVALSTATUS.PENDING) {
                            <p-button icon="pi pi-check" [rounded]="true" class="w-full mr-2" 
                                [disabled]="loggedUserGroupId !== USERGROUPS.CLUSTERHEAD 
                                    && loggedUserGroupId !== USERGROUPS.ADMIN 
                                    || demand.departmentHeadApproval.approvalStatus === APPROVALSTATUS.REJECTED"  
                                    (onClick)="clusterHeadApproval(demand.demandId, 'Accepted')" />
                            <p-button icon="pi pi-times" [rounded]="true" class="w-full" severity="danger" 
                                [disabled]="loggedUserGroupId !== USERGROUPS.CLUSTERHEAD 
                                    && loggedUserGroupId !== USERGROUPS.ADMIN
                                    || demand.departmentHeadApproval.approvalStatus === APPROVALSTATUS.REJECTED" 
                                (onClick)="clusterHeadApproval(demand.demandId, 'Rejected')" />
                        }
                    </td>
                    <td style="text-align: center;">
                        @if (demand.departmentHeadApproval.approvalStatus === APPROVALSTATUS.ACCEPTED) {
                            <p-button icon="pi pi-check" [rounded]="true" [disabled]="true" />
                        }
                        @else if(demand.departmentHeadApproval.approvalStatus === APPROVALSTATUS.REJECTED){
                            <p-button icon="pi pi-times" [rounded]="true" [disabled]="true" severity="danger" />
                        }
                        @if (demand.departmentHeadApproval.approvalStatus === APPROVALSTATUS.PENDING) {
                            <p-button icon="pi pi-check" [rounded]="true" class="w-full mr-2" 
                                [disabled]="loggedUserGroupId !== USERGROUPS.DEPARTMENTHEAD 
                                    && loggedUserGroupId !== USERGROUPS.ADMIN 
                                    || demand.stateHeadApproval.approvalStatus === APPROVALSTATUS.REJECTED" 
                                (onClick)="departmentHeadApproval(demand.demandId, 'Accepted')" />
                            <p-button icon="pi pi-times" [rounded]="true" class="w-full" severity="danger" 
                                [disabled]="loggedUserGroupId !== USERGROUPS.DEPARTMENTHEAD 
                                    && loggedUserGroupId !== USERGROUPS.ADMIN 
                                    || demand.stateHeadApproval.approvalStatus === APPROVALSTATUS.REJECTED" 
                                (onClick)="departmentHeadApproval(demand.demandId, 'Rejected')" />
                        }
                    </td>
                </tr>
            </ng-template>
            <ng-template #emptymessage>
                <tr>
                    <td colspan="100%" style="text-align:center">No Record Found!!</td>
                </tr>
            </ng-template>
        </p-table>  
    </div>
</div>


<p-dialog header="View Requistion" [resizable]="true" [draggable]="false" [modal]="true" [maximizable]="true"
        appendTo="body" [(visible)]="viewDetail" [style]="{ width: '50rem' }" [contentStyle]="{ height: '320px' }">
    <p-fluid>
        <div class="grid grid-cols-2 gap-2">
            <div class="grid col-span-1 gap-1">
                <label for="requisition-code">Requisition Code</label>
                <input type="text" pInputText [value]="requisitionDetails?.requesitionCode" id="requisition-code"
                    [disabled]="true" />
            </div>
            <div class="grid col-span-1 gap-1">
                <label for="requested-by">Requested By</label>
                <input type="text" pInputText [value]="requisitionDetails?.requestedBy?.userName" id="requested-by"
                    [disabled]="true" />
            </div>
            <div class="grid col-span-1 gap-1">
                <label for="project-code">Project Code</label>
                <input type="text" pInputText [value]="requisitionDetails?.project?.projectCode" id="project-code"
                    [disabled]="true" />
            </div>
            <div class="grid col-span-1 gap-1">
                <label for="cluster-name">Cluster Name</label>
                <input type="text" pInputText [value]="requisitionDetails?.cluster?.clusterName" id="cluster-name"
                    [disabled]="true" />
            </div>
            <div class="grid col-span-1 gap-1">
                <label for="cluster-code">Cluster Code</label>
                <input type="text" pInputText [value]="requisitionDetails?.cluster?.clusterCode" id="cluster-name"
                    [disabled]="true" />
            </div>
            <div class="grid col-span-1 gap-1">
                <label for="cluster-head">Cluster Head</label>
                <input type="text" pInputText [value]="requisitionDetails?.clusterHead?.userName" id="cluster-head"
                    [disabled]="true" />
            </div>
            <div class="grid col-span-1 gap-1">
                <label for="site-incharge">Site Incharge</label>
                <input type="text" pInputText [value]="requisitionDetails?.siteIncharge?.userName" id="site-incharge"
                    [disabled]="true" />
            </div>
            <div class="grid col-span-1 gap-1">
                <label for="department">Department</label>
                <input type="text" pInputText [value]="requisitionDetails?.department?.departmentName" id="department"
                    [disabled]="true" />
            </div>
            <div class="grid col-span-1 gap-1">
                <label for="department-head">Department Head</label>
                <input type="text" pInputText [value]="requisitionDetails?.departmentHead?.userName" id="department-head"
                    [disabled]="true" />
            </div>
            <div class="grid col-span-1 gap-1">
                <label for="category">Category</label>
                <input type="text" pInputText [value]="requisitionDetails?.category?.categoryName" id="category"
                    [disabled]="true" />
            </div>
        </div>
    </p-fluid>
</p-dialog>

<p-toast />