<div class="card">
    <div class="flex items-baseline-last justify-between">
        <h5>Interviewers</h5>
        <div class="flex gap-2">
            <p-button label="Add Interviewer" icon="pi pi-plus" (onClick)="addInterviewer()" />
            <p-button label="Clear" icon="pi pi-filter-slash" (onClick)="dt.clear()" />
        </div>
    </div>
    <div #mydiv class="border border-[var(--p-content-border-color)] rounded-lg overflow-hidden">
        <p-table
            #dt
            [value]="interviewerList"
            [rowHover]="true"
            [lazy]="true"
            [paginator]="true"
            [rows]="pageSize"
            [first]="first"
            [totalRecords]="totalRecords"
            [lazy]="true"
            [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[10, 20, 30, 40, 50]"
            [paginatorDropdownAppendTo]="mydiv"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            (onLazyLoad)="loadInterviewer($event)"
        >
            <ng-template #header>
                <tr>
                    <th>SI No</th>
                    <th>
                        <div class="flex items-center justify-between">
                            <span> Interviewer Name</span>
                            <p-columnFilter type="text" field="interviewer" display="menu" [showAddButton]="false" />
                        </div>
                    </th>
                    <th>
                        <div class="flex items-center justify-between">
                            <span> Contact Number</span>
                            <p-columnFilter type="text" field="interviewer" display="menu" [showAddButton]="false" />
                        </div>
                    </th>
                    <th>Actions</th>
                </tr>
            </ng-template>
            <ng-template #body let-interviewer let-i="rowIndex">
                <tr>
                    <td>{{ i + 1 }}</td>
                    <td>{{ interviewer.userName }}</td>
                    <td>{{ interviewer.phoneNumber }}</td>
                    <td>
                        <p-menu #menu [model]="menuItems" [popup]="true" appendTo="body" />
                        <p-button (onClick)="interviewerMenu($event,menu,interviewer)" icon="pi pi-ellipsis-v" [rounded]="true" variant="text" />
                    </td>
                </tr>
            </ng-template>
            <ng-template #emptymessage>
                <tr>
                    <td colspan="100%" style="text-align: center; padding: 1rem 0; background-color: var(--surface-ground)">No Records Found</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<p-dialog [header]="userId ? 'Edit Interviewer' : 'Add Interviewer'" [modal]="true" [(visible)]="openInterviewer" [style]="{width: '50rem'}" (onHide)="onDialogClose()">
    <form [formGroup]="interviewerForm" (ngSubmit)="onSubmit()">
        <div class="grid grid-cols-2 gap-2">
            <div class="col-span-1">
                <label for="interviewer-name">Interviewer Name</label>
                <input type="text" formControlName="userName" pInputText id="interviewer-name" appFormFieldError class="block w-full" />

                @if(userName?.invalid && (userName?.dirty || userName?.touched)){ @if(userName?.hasError('required')){
                <p-message severity="error" variant="simple" size="small" styleClass="mt-1"> Username is required </p-message>
                }@if (userName?.hasError('minlength')) {
                <p-message severity="error" variant="simple" size="small" styleClass="mt-1"> Username must contain at least 3 characters </p-message>
                } @if (userName?.hasError('maxlength')) {
                <p-message severity="error" variant="simple" size="small" styleClass="mt-1"> Username cannot exceed 50 characters </p-message>
                } }
            </div>
            <div class="col-span-1">
                <label for="contact-number">Contact Number</label>
                <input type="text" formControlName="phoneNumber" pInputText id="contact-number" appFormFieldError class="block w-full" pKeyFilter="int" />
                @if(phoneNumber?.invalid && (phoneNumber?.dirty || phoneNumber?.touched)){ @if(phoneNumber?.hasError('required')){
                <p-message severity="error" variant="simple" size="small" styleClass="mt-1"> Phone Number is required </p-message>
                }@if (phoneNumber?.hasError('minlength')) {
                <p-message severity="error" variant="simple" size="small" styleClass="mt-1"> Phone Number must contain at least 10 characters </p-message>
                } @if (phoneNumber?.hasError('maxlength')) {
                <p-message severity="error" variant="simple" size="small" styleClass="mt-1"> Phone Number cannot exceed 10 characters </p-message>
                } }
            </div>
        </div>
        <div class="flex justify-end mt-4">
            <button pButton pRipple type="submit">
                <span pButtonLabel>{{ actionName }}</span>
            </button>
        </div>
    </form>
</p-dialog>

<p-toast />
<p-confirmdialog />
