<div class="card">
    <div class="flex items-baseline-last justify-between">
        <h5>Attendance</h5>
        <div class="flex gap-2">
            <p-datepicker view="month" [(ngModel)]="date" dateFormat="mm/yy" [readonlyInput]="true" 
                placeholder="Pick a month" (onSelect)="fetchAttendanceList()" />
            <p-button label="Clear" icon="pi pi-filter-slash" (onClick)="dt.clear()" />
        </div>
    </div>
    <div #mydiv class="border border-[var(--p-content-border-color)] rounded-lg overflow-hidden">
        <p-table #dt dataKey="candidate.candidateId" [value]="attendanceList" [rowHover]="true" [paginator]="true" 
            [first]="first" editMode="row" [rows]="pageSize" [lazy]="true" [rowsPerPageOptions]="[10, 20, 30]" 
            [showCurrentPageReport]="true" [scrollable]="true" scrollHeight="500px" [totalRecords]="totalRecords"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" 
            [paginatorDropdownAppendTo]="mydiv" [tableStyle]="{'min-width': '230rem'}" (onLazyLoad)="loadDemands($event)">
            <ng-template #header>
                <tr>
                    <th>SL NO</th>
                    <th>
                        <div class="flex items-center justify-between">
                            <span>Employee Code</span>
                            <p-columnFilter type="text" field="employeeCode" display="menu" />
                        </div>
                    </th>
                    <th>
                        <div class="flex items-center justify-between">
                            <span>Temp EMP Code</span>
                            <p-columnFilter type="text" field="candidateCode" display="menu" />
                        </div>
                    </th>
                    <th>
                        <div class="flex items-center justify-between">
                            <span>Employee Name</span>
                            <p-columnFilter type="text" field="candidateName" display="menu" />
                        </div>
                    </th>
                    <th>
                        <div class="flex items-center justify-between">
                            <span>Consultancy Name</span>
                            <p-columnFilter type="text" field="consultancyName" display="menu" />
                        </div>
                    </th>
                    <th>
                        <div class="flex items-center justify-between">
                            <span>Project Code</span>
                            <p-columnFilter type="text" field="projectCode" display="menu" />
                        </div>
                    </th>
                    <th>Site Name</th>
                    <th>
                        <div class="flex items-center justify-between">
                            <span>Cluster Name</span>
                            <p-columnFilter type="text" field="clusterName" display="menu" />
                        </div>
                    </th>
                    <th>
                        <div class="flex items-center justify-between">
                            <span>SPN Code</span>
                            <p-columnFilter type="text" field="spnCode" display="menu" />
                        </div>
                    </th>
                    <th>
                        <div class="flex items-center justify-between">
                            <span>SPN Description</span>
                            <p-columnFilter type="text" field="spnDescription" display="menu" />
                        </div>
                    </th>
                    <th>
                        <div class="flex items-center justify-between">
                            <span>Experience</span>
                            <p-columnFilter type="text" field="experience" display="menu" />
                        </div>
                    </th>
                    <th>
                        <div class="flex items-center justify-between">
                            <span>Role</span>
                            <p-columnFilter type="text" field="roleName" display="menu" />
                        </div>
                    </th>
                    <th>
                        <div class="flex items-center justify-between">
                            <span>Contact Number</span>
                            <p-columnFilter type="text" field="phoneNumber" display="menu" />
                        </div>
                    </th>
                    <th>
                        <div class="flex items-center justify-between">
                            <span>Joining Date</span>
                            <p-columnFilter type="date" field="date" display="menu" matchMode="between"
                                [showOperator]="false">
                                <ng-template #filter let-filter="filterCallback" let-value>
                                    <div class="flex flex-col gap-2">
                                        <p-datepicker [ngModel]="value?.[0] || null" 
                                            (ngModelChange)="updateRange($event, value, 0, filter)"
                                            placeholder="From Date" />

                                        <p-datepicker [ngModel]="value?.[1] || null"
                                            (ngModelChange)="updateRange($event, value, 1, filter)"
                                            placeholder="To Date" />
                                    </div>
                                </ng-template>
                            </p-columnFilter>
                        </div>
                    </th>
                    <th>Last Working Date</th>
                    <th>
                        <div class="flex items-center justify-between">
                            <span>Status</span>
                            <p-columnFilter field="status" matchMode="equals" display="menu">
                                <ng-template #filter let-value let-filter="filterCallback">
                                    <p-multiselect [options]="statuses" (onChange)="filter($event.value)"
                                        placeholder="Select Statuses" class="w-full">
                                        <ng-template let-option #item>
                                            <p-tag [value]="option.value" [severity]="getSeverity(option.value)" />
                                        </ng-template>
                                    </p-multiselect>
                                </ng-template>
                            </p-columnFilter>
                        </div>
                    </th>
                    <th>Total No. of Working Days</th>
                    <th>Present Days</th>
                    <th>Week Off</th>
                    <th>Paid Leave</th>
                    <th>Unpaid Leave</th>
                    @if (currentUser === USERGROUPS.ADMIN || currentUser === USERGROUPS.SITEINCHARGE || currentUser === USERGROUPS.RESOURCEMANAGER) {
                        <th alignFrozen="right" pFrozenColumn>Actions</th>
                    }
                </tr>
            </ng-template>
            <ng-template #body let-attendance let-editing="editing" let-i="rowIndex">
                <tr [pEditableRow]="attendance">
                    <td>{{ i + 1 }}</td>
                    <td>{{ attendance.candidate?.employeeCode || '-' }}</td>
                    <td>{{ attendance.candidate?.candidateCode || '-' }}</td>
                    <td>{{ attendance.candidate?.candidateName || '-' }}</td>
                    <td>{{ attendance.candidate.consultancy.consultancyName || '-' }}</td>
                    <td>{{ attendance.employmentDetails.project.projectCode || '-' }}</td>               
                    <td>{{ attendance.employmentDetails.project.siteName || '-' }}</td>               
                    <td>{{ attendance.employmentDetails.cluster.clusterName || '-' }}</td>               
                    <td>{{ attendance.employmentDetails?.spn?.spnCode || '-' }}</td>
                    <td>{{ attendance.employmentDetails?.spn?.spnDescription }}</td>
                    <td>{{ attendance.employmentDetails?.spn?.experience }}</td>
                    <td>{{ attendance.employmentDetails.envisionRole.roleName || '-' }}</td>  
                    <td>{{ attendance.candidate.phoneNumber || '-' }}</td>
                    <td>{{ attendance.employmentDetails.joiningDate || '-' }}</td>
                    <td>{{ attendance.employmentDetails.lastWorkingDate || '-' }}</td>
                    <td>
                        <p-tag [value]="attendance.employmentDetails.employmentStatus" 
                            [severity]="getSeverity(attendance.employmentDetails.employmentStatus)" />
                    </td> 
                    <td #pEditableColumn>
                        <p-cellEditor>
                            <ng-template #input>
                                <p-inputnumber #totalWorkingDaysInput [(ngModel)]="attendance.totalWorkingDays" 
                                    [useGrouping]="false" [disabled]="true" />
                            </ng-template>
                            <ng-template #output>
                                {{ attendance.totalWorkingDays }}
                            </ng-template>
                        </p-cellEditor>
                    </td>                          
                    <td #pEditableColumn>
                        <p-cellEditor>
                            <ng-template #input>
                                <p-inputnumber #presentDaysInput [(ngModel)]="attendance.presentDays" [useGrouping]="false" />
                            </ng-template>
                            <ng-template #output>
                                {{ attendance.presentDays }}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td #pEditableColumn>
                        <p-cellEditor>
                            <ng-template #input>
                                <p-inputnumber #weekOffInput [(ngModel)]="attendance.weekOff" [useGrouping]="false" />
                            </ng-template>
                            <ng-template #output>
                                {{ attendance.weekOff }}
                            </ng-template>
                        </p-cellEditor>
                    </td>                          
                    <td #pEditableColumn>
                        <p-cellEditor>
                            <ng-template #input>
                                <p-inputnumber #paidLeavesInput [(ngModel)]="attendance.paidLeaves" [useGrouping]="false" />
                            </ng-template>
                            <ng-template #output>      
                                {{ attendance.paidLeaves }}
                            </ng-template>
                        </p-cellEditor>
                    </td>                   
                    <td #pEditableColumn>
                        <p-cellEditor>
                            <ng-template #input>
                                <p-inputnumber #absentDaysInput [(ngModel)]="attendance.absentDays" [useGrouping]="false" />
                            </ng-template>
                            <ng-template #output>
                                {{ attendance.absentDays }}
                            </ng-template>
                        </p-cellEditor>
                    </td>  
                    @if (currentUser === USERGROUPS.ADMIN || currentUser === USERGROUPS.SITEINCHARGE || currentUser ===
                            USERGROUPS.RESOURCEMANAGER) {
                        <td class="flex items-center justify-center gap-2" alignFrozen="right" pFrozenColumn>
                            @if (!editing) {
                                <button pButton pRipple type="button" icon="pi pi-pencil"
                                    pInitEditableRow rounded severity="secondary"
                                    (click)="editAttendanceRow(attendance)"
                                    [disabled]="isEditDisabled(attendance, date)"  
                                    [ngClass]="{ 'cursor-not-allowed': isEditDisabled(attendance, date) }"></button>
                            } @else {
                                <button pButton pRipple type="submit" icon="pi pi-check"
                                    pSaveEditableRow rounded severity="primary" (click)="submitAttendanceForm(attendance)"
                                    [disabled]="isEditDisabled(attendance, date)" 
                                    [ngClass]="{ 'cursor-not-allowed': isEditDisabled(attendance, date) }">
                                </button>
                                <button pButton pRipple type="button" icon="pi pi-times"
                                    pCancelEditableRow rounded severity="danger"
                                    [disabled]="isEditDisabled(attendance, date)" 
                                    [ngClass]="{ 'cursor-not-allowed': isEditDisabled(attendance, date) }"  
                                    (click)="cancelEdit(attendance)"></button>
                            }
                        </td>     
                    }
                </tr>
            </ng-template>
            <ng-template #emptymessage>
                <tr>
                    <td colspan="100%" style="text-align: center; padding: 1rem 0; background-color: var(--surface-ground);">
                        No Records Found
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<p-toast />